.u-btn-main {
  display: inline-block;
  transition: all 0.4s ease;
  outline: none;
  border-radius: 28px;
  background-color: $btn-color;
  cursor: pointer;
  padding: 17px 98px;
  text-transform: uppercase;
  line-height: 1.2;
  color: $color-white;
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: bold;
  user-select: none;

  span {
    display: block;
    transition: all 0.4s ease;
    color: $color-white;
    font-weight: 600;
  }

  &:hover {
    box-shadow: 0 14px 28px $btn-shadow, 0 10px 10px $btn-shadow;

    span {
      transform: scale(1.1);
      text-shadow: 2px 2px 0 $btn-shadow;
    }
  }

  @include mq('phone') {
    display: block;
    padding: 17px 0;
    max-width: 310px;
    text-align: center;
  }
}

.u-btn {
  display: block;
  transition: all 0.4s ease;
  margin: 0 auto;
  border: 1px solid $buttom-border;
  border-radius: 28px;
  padding: 9px 0;
  max-width: 365px;
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
  color: $color-black;
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 600;
}
