.u-download-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;

  svg {
    fill: $color-white;
  }

  span {
    display: block;
    text-align: center;
    color: $color-white;

    @include mq('tablet') {
      display: none;
    }
  }
}
