.u-secondary-heading {
  line-height: 1.3;
  color: $color-black;
  font-family: Century Gothic;
  font-size: 36px;
  font-weight: bold;

  @include mq('tablet-medium') {
    font-size: 28px;
  }
}
