.c-graph {
  position: relative;
  background: #e7e7e7;
  width: 100%;
  max-width: 216px;
  height: 185px;
  color: #fff; }
  .c-graph__progress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00bab4; }
  .c-graph__percent {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 700; }
  .c-graph__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e7e7e7;
    min-height: 60px; }
    .c-graph__icons > * {
      margin: 0 3px; }
