.c-arrows {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;

  @include mq('tablet') {
    display: none;
  }

  &__prev,
  &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 4px;
    background-color: $btn-color;
    cursor: pointer;
    padding: 6px 10px;
  }

  &__next {
    margin-right: 0;
  }

  &__svg {
    fill: $color-white;
  }
}
