.c-article {
  margin-bottom: 20px;
  border-bottom: 1px solid $white-opacity;
  padding-bottom: 20px;
  color: $color-white;
  font-family: Century Gothic;

  &:last-child {
    border-bottom: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;

    @include mq('phone-wide') {
      margin-bottom: 15px;
    }
  }

  &__title {

    @include mq('phone-wide') {
      padding-left: 15px;
    }

    h2 {
      margin-bottom: 10px;
      line-height: 100%;
      color: $color-white;
      font-family: Century Gothic;
      font-size: 22px;
      font-weight: bold;

      &:before {
        position: relative;
        padding-right: 15px;
        content: counter(articleCounter)'.';
        counter-increment: articleCounter;
      }

      @include mq('phone-wide') {
        font-size: 19px;
      }
    }

    a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
      white-space: nowrap;
      color: $article-blue;
      font-size: 18px;

      @include mq('tablet-wide') {
        max-width: 650px;
      }

      @include mq('tablet') {
        max-width: 500px;
      }

      @include mq('phablet') {
        max-width: 300px;
      }

      @include mq('phone-wide') {
        font-size: 14px;
      }

      @include mq('phone') {
        max-width: 280px;
      }
    }
  }

  &__text {
    line-height: 24px;
    color: $color-white;
    font-size: 18px;

    @include mq('phone-wide') {
      font-size: 14px;
    }
  }

  &__svg {

    svg {
      @include mq('phone-wide') {
        width: 30px;
        height: 35px;
      }
    }
  }
}
