.c-blog-card {
  display: flex;
  flex-direction: column;
  box-shadow: $blog-card-shadow;
  background-color: $color-white;
  height: 100%;
  text-align: left;

  &__photo {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;

    @include mq('phone-large') {
      padding: 15px;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 26px;
    color: $color-black;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: bold;
    word-break: keep-all;
  }

  &__text {
    flex-grow: 1;
    margin-bottom: 30px;
    line-height: 26px;
    color: $color-black;
    font-family: Century Gothic;
    font-size: 16px;
  }

  .u-btn-main {
    display: inline-block;
    padding: 10px 0;
    max-width: 200px;
    text-align: center;

    @include mq('tablet-medium') {
      max-width: 100%;
    }

    span {
      font-size: 14px;
    }
  }
}
