// sass-lint:disable nesting-depth
.c-contact-form {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.3s linear;
  z-index: 2;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 20px;
  max-width: 600px;

  &.is-sending {
    position: relative;
    opacity: 0.99;
    filter: blur(3px);

    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      cursor: wait;
      content: '';
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    line-height: 66px;
    color: $testimonials-card-color;
    font-family: 'Chocolate cyr-lat';
    font-size: 36px;

    @include mq('phone') {
      margin-bottom: 25px;
      line-height: 48px;
      font-size: 26px;
    }
  }

  &__inputwrapper {
    position: relative;
    width: 48%;

    @include mq('tablet') {
      width: 100%;
    }
  }

  &__inputwrappercheck {
    position: relative;
    margin-right: 12px;
    width: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include mq('tablet') {
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &.is-up {
      justify-content: flex-start;
    }

    input {
      outline: none;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid $dots-color;
      border-left: 0;
      background-color: transparent;
      padding: 0 20px;
      width: 100%;
      height: 40px;

      @include mq('tablet') {
        margin-bottom: 16px;
        padding: 0 24px;
        width: 100%;
        height: 40px;
      }

      &[type=checkbox] {
        flex-shrink: 1;
        outline: none;
        border-radius: 2px;
        background-color: $number-list-color;
        padding: 0;
        width: 20px;
        height: 20px;
        appearance: none;

        &:checked {
          background-image: url('../images/check-yellow.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
        }
      }
    }

    label {
      cursor: pointer;
      max-width: 93%;
      line-height: 20px;
      color: $testimonials-card-color;
      font-family: Montserrat;
      font-size: 16px;

      @include mq('phablet') {
        max-width: 90%;
      }

      @include mq('phone') {
        max-width: 87%;
      }
    }

    .u-select {
      position: relative;
      width: 48%;

      @include mq('tablet') {
        width: 100%;
      }

      select {
        position: relative;
        outline: none;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid $dots-color;
        border-left: 0;
        background-color: transparent;
        padding: 0 20px;
        width: 100%;
        height: 40px;
        line-height: 40px;
        appearance: none;

        @include mq('tablet') {
          margin-bottom: 20px;
          width: 100%;
        }

        &.error {
          border: 1px solid $youtube-color;
        }
      }
    }
  }

  &__mono {
    position: relative;
    margin-bottom: 25px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid $dots-color;
    border-left: 0;
    background-color: transparent;

    input[type=checkbox] {
      flex: 0 0 22px;
      margin: 0 15px 0 25px;
      outline: none;
      background-color: $number-list-color;
      height: 22px;
      appearance: none;

      &:checked {
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
      }
    }

    textarea,
    input[type=text] {
      outline: none;
      border: 0;
      background: transparent;
      padding: 0 20px;
      width: 100%;
      height: 40px;
      line-height: 40px;
    }
  }


  &__errorwrap {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    text-align: center;
    color: $youtube-color;
    font-size: 13px;
  }

  &__icon-delete {
    cursor: pointer;
    fill: $color-white;
  }

  .u-btn-main {
    margin: 0 auto;

    @include mq('tablet') {
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
  }

  .error {
    border: 1px solid $youtube-color;
  }

  label {

    &.error {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      border: 0;
      cursor: auto;
      text-align: center;
      color: $youtube-color;
      font-size: 13px;
    }
  }
}
