.c-footer {
  background: $blue;

  svg {
    flex-shrink: 0;
    margin-right: 15px;
    fill: $color-white;
  }

  .c-social {
    flex-wrap: wrap;
    align-items: flex-end;
    border-bottom: 1px solid $footer-separator;
    padding: 100px 0 0;

    &__svg {
      margin-right: 13px;
    }

    &__item {
      margin-bottom: 25px;

      &.is-social {

        .is-social__shared {
          display: none;
        }

        .is-social__icons {
          display: block;
        }

        svg path {
          fill: $color-white;
        }

        svg {

          &.is-linkedin {
            border-radius: 100%;
            background-color: $color-white;

            path {
              fill: $btn-color;
            }
          }
        }

        svg circle {
          fill: $btn-color;
        }

        @include mq('phone-large') {
          justify-content: center;
        }
      }
    }
  }

  &__doc {
    padding: 20px 0;

    a {
      display: block;
      text-align: center;
      line-height: 17px;
      color: $color-white;
      font-family: Century Gothic;
      font-size: 14px;

      @include mq('phone-large') {
        padding: 6px 0;
      }
    }
  }

  &__copyright {
    background-color: $dark-blue;
    padding: 17px 0;
    text-align: center;
    line-height: 17px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 14px;
  }

  .c-social-bar {
    display: none;
  }

  .c-header__item {
    display: none;
  }

  @include mq('tablet-medium') {

    .c-social {
      padding: 30px 0 0;

      &__item {
        justify-content: flex-start;
        width: 50%;

        &.is-social {
          order: 4;
        }
      }
    }
  }

  @include mq('phone-large') {

    .c-social {

      &__item {
        width: 100%;

        &.is-social {
          order: inherit;
        }
      }
    }
  }
}
