.c-form {
  position: relative;
  transition: all 0.4s ease;

  @include mq('phone-large') {
    flex-direction: column;
    width: auto;
  }

  input {
    outline: 0;
    border: 1px solid $color-white;
    border-radius: 30px;
    background-color: $color-white;
    padding: 17px 80px 17px 25px;
    width: 100%;
    line-height: 20px;
    color: $color-grey;
    font-family: Century Gothic;
    font-size: 16px;
    box-sizing: border-box;
  }

  .u-btn-main {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    padding: 10px 20px;
    width: auto;

    span {
      line-height: 20px;
      font-family: Century Gothic;
      font-size: 16px;
    }

    &:hover {
      box-shadow: none;
    }
  }

  &__warning {
    display: none;
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    color: $btn-color;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: bold;

    &.is-active {
      display: block;
    }
  }


  .error {
    border: 1px solid $youtube-color;
  }

  label {

    &.error {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      border: 0;
      padding-left: 39px;
      color: $youtube-color;
      font-size: 13px;
    }
  }
}
