.c-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  width: calc(100% + 10px);

  &__item {
    padding: 5px;

    &.is-type-2,
    &.is-default {
      @include mq('desktop') {
        width: 33%;
      }

      @include mq('tablet-small') {
        width: 50%;
      }
    }

    &.is-type-3,
    &.is-type-1 {
      @include mq('desktop') {
        width: 66%;
      }

      @include mq('tablet-small') {
        width: 100%;
      }

      @include mq('tablet-small') {
        width: 50%;
      }
    }

    &.is-type-1 {

      @include mq('tablet-small') {
        width: 100%;
      }
    }

    &.is-visible {
      display: block;
    }

    &.is-invisible {
      display: none;
    }
  }

  &__image {
    display: block !important;
    max-width: 100%;

    @include mq('desktop') {
      display: none !important;
    }

    &.is-md {
      display: none !important;

      @include mq('desktop') {
        display: block !important;
      }

      @include mq('tablet-small') {
        display: none !important;
      }
    }

    &.is-sm {
      display: none !important;

      @include mq('tablet-small') {
        display: block !important;
      }
    }
  }
}
