.c-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 17px;
  color: $color-white;
  font-family: Century Gothic;
  font-size: 14px;

  svg {
    fill: $color-white;
  }

  .c-social {

    &__svg {
      margin-right: 5px;
    }

    &__item {
      position: relative;
      padding: 7px 0;

      &.is-social {

        .is-social__shared {
          display: none;

          @include mq('tablet-medium') {
            display: block;
          }
        }

        .is-social__icons {
          display: block;

          @include mq('tablet-medium') {
            display: none;
          }
        }

        .c-social__dropdown {
          left: 15px;
          flex-direction: row;

          &:after {
            left: auto;
            transform: none;
          }
        }

        svg {
          margin-right: 10px;
          width: 39px;
          height: 39px;

          &.c-social__close {
            margin-right: 0;
            width: 18px;
            height: 18px;
          }

          &.is-linkedin {

            path {
              fill: $color-white;
            }
          }
        }

        svg path {
          fill: $dark-blue;
        }

        svg circle {
          fill: $color-white;
        }
      }

      &.is-cabinet {

        svg {
          width: 18px;
          height: auto;
        }
      }

      &.is-address {

        svg {
          width: 18px;
          height: auto;
        }
      }

      .is-footer {
        display: none;
      }
    }

    @include mq('tablet-medium') {
      align-items: stretch;

      &__svg {
        margin-right: 0;
      }

      &__item {
        border-right: $header-border;
        width: 25%;

        &.is-cabinet {
          border-right: 0;
        }

        &.is-address {
          border-right: 0;
          width: auto;
        }

        > svg {
          width: 16px;
          height: 16px;
        }
      }

      &__text {
        display: none;
      }

      .is-address-block {
        border-right: $header-border;
        width: 25%;
      }
    }

    @include mq('tablet') {

      &__item {
        justify-content: center;
      }
    }

    @include mq('phone-large') {
      padding: 0;
    }
  }

  .searchform {

    input {
      display: none;
    }

    @include mq('tablet-medium') {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: $header-border;
      width: 25%;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 103;
    background-color: $dark-blue;

    .u-col {
      display: none;
    }

    .widgettitle {
      display: none;
    }

    @include mq('tablet-medium') {
      background-color: $last-news-bc;

      .u-container {
        padding: 0;
      }
    }
  }

  &__main {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 102;
    background-color: $blue;
    padding-top: 7px;
  }

  &__writeus {
    order: 3;
  }

  .u-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .u-btn {
    border: 1px solid $color-white;
    border-radius: 18px;
    width: 212px;
    line-height: 17px;
    color: $color-white;
    font-size: 14px;
  }

  .c-menu {
    order: 2;
  }

  .c-social-bar {
    display: none;
  }

  .wpml-ls-legacy-dropdown {
    display: inline-block;
    width: auto;
  }

  .wpml-ls-sub-menu {
    padding-top: 10px;
  }

  .wpml-ls {

    li {

      a {
        border: 0;
        background: transparent !important;
        text-transform: uppercase;
        color: $color-white;
        font-weight: bold;
      }

      a:hover {
        color: $color-white;
      }

      ul {
        border: 0;
        background: $dark-blue !important;

        li:hover {
          background: $dark-blue !important;
        }
      }

      &:hover {

        a {
          color: $color-white;
        }
      }

      &:hover {
        background: $dark-blue !important;
      }
    }
  }

  &__svg {
    margin-right: 7px;
  }

  &__caret {
    margin-left: 7px;
  }

  &__logo {
    order: 1;
    margin-right: 95px;
    padding: 20px 0;

    img {
      max-width: 100%;
    }
  }

  @include mq('desktop-large') {

    &__logo {
      padding: 15px 0;

      img {
        height: 40px;
      }
    }

    .u-btn-main {
      padding: 10px 50px;
    }

    .c-main-nav__item {
      line-height: 50px;
      font-size: 15px;
    }
  }

  @include mq('desktop-wide') {

    .u-btn-main {
      padding: 10px 14px;

      span {
        font-size: 14px;
      }
    }

    &__logo {

      img {
        height: 35px;
      }
    }

    .c-main-nav__item {
      padding: 10px 6px;
      line-height: 27px;
      font-size: 13px;
    }
  }

  @include mq('tablet-medium') {

    .u-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .c-menu {
      width: auto;
    }
  }

  @include mq('desktop') {

    &__info {

      .u-wrapper {
        padding: 0 15px;
      }
    }

    &__main {

      .u-wrapper {
        padding: 0 15px;
      }
    }
  }

  @include mq('tablet-wide') {

    &__item {

      span,
      a {
        display: none;
      }
    }

    &__svg {
      width: 20px !important;
      height: 20px !important;
    }

    &__caret {
      display: none;
    }

    .searchform {

      input {
        display: none;
      }

      button {
        position: relative;
        top: 0;
        right: 0;
        transform: translateY(0);
      }
    }
  }
}
