// sass-lint:disable nesting-depth
.c-main-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;

  &__item {
    padding: 10px 7px;
    text-transform: uppercase;
    line-height: 82px;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 600;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      @include mq('desktop-wide') {
        .c-main-subnav {
          right: 0;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &.is-active {
      transition: all 0.3s ease;

      .c-main-subnav {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }

    @include mq('tablet-medium') {
      margin-right: 0;
    }
  }

  .c-main-subnav {
    position: absolute;
    top: 80%;
    z-index: 10;
    border-radius: 3px;
    text-align: left;

    @include mq('desktop') {
      right: 0;
      left: 0;
      border: 0;
    }

    span {
      white-space: nowrap;
      color: $color-black;
    }
  }

  .c-sub-menu-2 {
    display: block;
    position: relative;
    width: 100%;

    @include mq('tablet-medium') {
      background-color: transparent;
    }

    span {
      white-space: nowrap;
      color: $color-black;
    }
  }

  .c-sub-menu-3 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;

    @include mq('tablet-medium') {
      background-color: transparent;
    }

    span {
      white-space: nowrap;
      color: $color-black;
    }
  }

  .c-sub-menu-4 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding-top: 18px;
    width: 100%;
    @include mq('tablet-medium') {
      background-color: transparent;
    }

    span {
      white-space: nowrap;
      color: $color-black;
    }
  }

  &__caret {
    transition: all 0.4s ease;
    margin-left: 7px;
    fill: $color-white;
  }
}

.u-sub-menu {
  background: $color-white;

  li {
    display: block;
    transition: all 0.3s ease;
    border-top: 1px solid $btn-shadow;
    padding: 10px 20px;
    max-height: 100%;
    text-transform: initial;
    line-height: 25px;
    color: $color-black;
    font-size: 18px;
    font-weight: normal;

    &:hover {
      background-color: $btn-color;
      color: $color-white;

      .c-main-nav__caret {
        fill: $color-white;
      }
    }

    &:first-child {
      border-top: 0;
    }
  }
}

.c-main-subnav {
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;

  .c-item-2 {

    &.is-active .c-sub-menu-3 {
      display: inline-block;
    }
  }

  .c-item-3 {

    &:hover {

      .c-sub-menu-4 {
        display: inline-block;
      }
    }
  }

  .c-main-nav__caret {
    fill: $color-black;
  }
}
