.c-menu {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-end;

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: flex-end;
  }

  .u-btn-main {
    padding: 13px 65px;
  }

  &__hamburger {
    transition: all 0.3s ease;

    &.is-open {
      transform: rotate(90deg);
    }
  }

  @include mq('desktop') {
    flex-grow: unset;
  }

  @include mq('tablet-medium') {
    flex-grow: 0;
  }

  @include mq('phone-large') {

    &__hamburger {

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
