.c-pagination-block {
  padding: 100px 0;
}

.c-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    margin: 0 10px;
    border-radius: 100%;
    background-color: $padination-opacity;
    width: 40px;
    height: 40px;
    color: $color-white;
    font-size: 16px;

    &:hover {
      background-color: $padination;
    }

    &.is-current {
      background-color: $padination;
    }

    &.is-prev:after {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(45deg) translate(-60%, -20%);
      border-bottom: 3px solid $color-white;
      border-left: 3px solid $color-white;
      border-radius: 3px;
      cursor: pointer;
      width: 10px;
      height: 10px;
      content: '';
    }

    &.is-next:after {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translate(-8%, -85%);
      border-right: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      border-radius: 3px;
      cursor: pointer;
      width: 10px;
      height: 10px;
      content: '';
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 40px;
    }
  }
}
@include mq('phablet') {

  .c-pagination-block {
    padding: 50px 0;
  }

  .c-pagination {

    li {
      margin: 0 4px;
      width: 23px;
      height: 23px;
      font-size: 11px;

      a {
        line-height: 24px;
      }
    }
  }
}
