// sass-lint:disable nesting-depth
.c-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;

  &__dropdown {
    display: none;
    position: absolute;
    top: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $last-news-bc;
    padding: 15px 60px 15px 30px;

    &.is-active {
      display: flex;
      white-space: nowrap;

      a {
        display: block;
        margin: 4px;
        font-weight: bold;
      }
    }

    &:after {
      position: absolute;
      top: -13px;
      left: 49%;
      transform: translateX(-50%);
      border-right: 8px solid transparent;
      border-bottom: 13px solid $last-news-bc;
      border-left: 8px solid transparent;
      content: '';
    }

    @include mq('tablet-small') {
      padding: 15px 35px 15px 15px;
      min-width: 210px;

      &.is-active {
        white-space: unset;
      }
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 20px;
    height: 20px;

    @include mq('tablet-small') {
      width: 15px;
      height: 15px;
    }
  }

  &.is-centered {

    .c-social__item {
      justify-content: center;
    }
  }

  &__label {
    margin-bottom: 15px;
    line-height: 1.2;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
  }

  &__item {
    display: flex;
    align-items: center;
    word-break: break-word;

    & > a {
      margin: 0 7px;
    }

    &.is-social {

      .c-social__dropdown {
        min-width: auto;
      }
    }
  }

  &__text {
    padding: 3px 0;
    line-height: 20px;
    font-family: Century Gothic;
    font-size: 16px;

    &.is-small {
      font-size: 14px;
    }
  }

  &__svg {
    flex-shrink: 0;
  }

  @include mq('desktop') {

    &__item {
      justify-content: center;
    }
  }

  @include mq('tablet') {

    &__item {
      justify-content: flex-start;
      margin-left: 0;
    }

    .u-col {

      &:first-child {

        .c-social__item {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }

  @include mq('phone-large') {
    padding: 30px 0 15px;

    &__item {

      & > a {
        margin-right: 15px;
        margin-left: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .u-col {

      &:first-child {

        .c-social__item {
          justify-content: flex-start;
        }
      }
    }
  }
}
