.wpcr3_respond_2 {
  display: block;

  input,
  textarea {
    margin-bottom: 20px;
    outline: none;
    border: 1px solid $arrows-color;
    border-radius: 28px;
    background: $color-white;
    padding: 20px 28px;
    width: 100%;
    box-sizing: border-box;

    @include mq('phone-large') {
      padding: 10px 20px;
    }
  }

  input {

    &[type=checkbox] {
      margin-right: 10px;
      margin-bottom: 0;
      outline: none;
      border-radius: 2px;
      background-color: $color-white;
      padding: 0;
      width: 20px;
      height: 20px;
      appearance: none;

      &:checked {
        background-image: url('../images/check-yellow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
      }
    }
  }

  textarea {
    min-width: unset;
  }

  label {
    line-height: 20px;
    color: $testimonials-card-color;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
  }

  .wpcr3_div_2 {
    margin: 0 auto;
    border-radius: 20px;
    background-color: $color-white;
    padding: 30px 20px;
    width: auto;
    max-width: 540px;
    text-align: center;
    box-sizing: border-box;

    @include mq('phone-large') {
      padding: 10px;
    }
  }

  .wpcr3_leave_text {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    line-height: 66px;
    color: $testimonials-card-color;
    font-family: 'Chocolate cyr-lat';
    font-size: 36px;

    @include mq('tablet-small') {
      line-height: 50px;
      font-size: 30px;
    }

    @include mq('phone-large') {
      margin-bottom: 20px;
      line-height: 40px;
      font-size: 20px;
    }
  }

  .wpcr3_check_confirm {

    @include mq('phone-large') {
      margin-top: 0;
    }

    & > label {
      display: flex;

      @include mq('phone-large') {
        font-size: 14px;
      }
    }
  }

  .wpcr3_button_1.wpcr3_submit_btn {
    display: inline-block;
    transition: all 0.4s ease;
    margin-top: 40px;
    border: 0;
    border-radius: 28px;
    background: $btn-color;
    cursor: pointer;
    padding: 17px 98px;
    text-transform: uppercase;
    line-height: 22px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      box-shadow: 0 14px 28px $btn-shadow, 0 10px 10px $btn-shadow;
      text-shadow: 2px 2px 0 $btn-shadow;
    }

    @include mq('phone') {
      display: block;
      padding: 17px 0;
      width: 100%;
      text-align: center;
    }
  }
}

.wpcr3_respond_3,
.wpcr3_dotline,
.wpcr3_reviews_holder,
.wpcr3_clear.wpcr3_pb5,
.wpcr3_review_form_rating_field,
.wpcr3_button_1.wpcr3_cancel_btn {
  display: none !important;
}
