.c-treat-card {
  transition: all 0.5s ease;
  border-radius: 4px;
  background-color: $white-opacity;
  padding: 30px;

  &:hover {
    transform: scale(1.15);
  }

  &__icon {
    margin-bottom: 25px;
  }

  &__text {
    margin-top: auto;
    text-align: center;
    line-height: 27px;
    color: $color-grey;
    font-family: 'Montserrat';
    font-size: 22px;
  }
}
