.p-archive {
  position: relative;
  padding: 166px 0 0;
  color: $color-black;

  &__title {
    background-color: $blue;
    background-image: url('../images/archive-title-bc.png');
    background-position: 100% 85%;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    line-height: 1.2;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 36px;
    font-weight: bold;
  }

  .p-single__title {
    margin-top: 50px;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 16px;
  }

  &__content {
    position: relative;
    padding-top: 60px;
  }

  &__lamp {
    position: absolute;
    top: -13px;
    right: 0;
  }

  .l-blog__col {
    height: auto;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }

  @include mq('desktop-large') {
    padding: 136px 0 0;
  }

  @include mq('desktop-wide') {
    padding: 130px 0 0;
  }

  @include mq('tablet-medium') {
    padding: 110px 0 0;

    &__title {
      padding: 50px 0 60px;
    }

    &__lamp {
      display: none;
    }

    .l-blog__col {
      height: 100%;
    }
  }
}
