.p-error {
  position: relative;
  background-color: $number-list-color;
  background-image: url('../images/vawes.svg');
  background-repeat: repeat;
  background-position: center center;
  padding: 166px 0 200px;
  overflow: hidden;
  text-align: center;
  font-family: 'Century Gothic';
  font-weight: bold;

  .u-container {
    position: relative;
  }

  &__lamp {
    position: absolute;
    top: -8px;

    &.is-first {
      left: 0;
    }

    &.is-second {
      right: 0;
    }
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__error {
    position: relative;
    z-index: 2;
    padding-top: 80px;
    text-align: center;

    p {
      margin-top: 0;
      margin-bottom: 45px;
      color: $color-white;
      font-size: 20px;
    }

    .u-btn-main {
      padding: 17px 54px;
    }
  }

  &__numb {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 200px;
  }

  @include mq('desktop-large') {
    padding: 136px 0 150px;
  }

  @include mq('desktop-wide') {
    padding: 130px 0;
  }

  @include mq('tablet-medium') {
    padding: 110px 0;
  }

  @include mq('tablet') {

    &__numb {
      font-size: 100px;
    }
  }

  @include mq('phone') {

    &__numb {
      font-size: 70px;
    }

    &__lamp {
      display: none;
    }
  }
}
