.p-gallery {
  position: relative;
  background-color: $number-list-color;
  background-image: url('../images/vawes.svg');
  background-repeat: repeat;
  background-position: center center;
  overflow: hidden;
}
