.p-page {
  position: relative;
  padding: 166px 0 0;
  color: $color-black;
  font-family: Century Gothic;

  p {
    margin-bottom: 25px;
    line-height: 1.5;
    font-size: 20px;
  }

  em,
  i {
    font-style: italic;
  }

  .c-graph {
    margin-bottom: 25px;
  }

  img {
    min-width: 28px;
    max-width: 100%;
    height: auto;
  }

  hr {
    clear: both;
  }

  blockquote {
    position: relative;
    margin: 40px 0;
    padding-left: 100px;
    line-height: 36px;
    font-size: 24px;

    p {
      line-height: inherit;
      font-size: inherit;
    }

    &:after {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url('../images/quote-red.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50px;
      height: 50px;
      content: '';
    }
  }

  .alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    overflow: auto;
    zoom: 1;

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  .alignright {
    float: right;
    margin-bottom: 50px;
    margin-left: 60px;
    overflow: auto;
    zoom: 1;

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2px 0;
    border: 2px solid $caption-green;
    color: $color-white;

    span {
      display: block;
      padding: 5px 10px;
      font-size: 20px;

      &:first-child {
        color: $caption-green;
      }

      &:last-child {
        background-color: $caption-green;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 30px 0;
    font-weight: bold;
  }

  h6 {
    font-size: 18px;
  }

  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 28px;
  }

  h2 {
    font-size: 32px;
  }

  ul {
    display: inline-block;
    margin: 40px 0;

    li {
      position: relative;
      padding: 7px 0 7px 30px;
      line-height: 1.4;
      font-size: 19px;

      &:after {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 0;
        border-radius: 50%;
        background-color: $btn-color;
        width: 8px;
        height: 8px;
        content: '';
      }
    }
  }

  ol {
    margin: 40px 20px;
    list-style-type: decimal;

    li {
      padding: 7px 0 7px 10px;
      line-height: 1.4;
      font-size: 19px;
    }
  }

  .wp-block-gallery {

    li {
      padding: 0;

      &:after {
        content: none;
      }
    }
  }

  .aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  iframe {
    display: inline-block;
    margin: 0 auto;
    width: 100% !important;
    max-width: 700px !important;
    height: 400px !important;

    @include mq('tablet-medium') {
      max-width: 600px !important;
      height: 300px !important;
    }

    @include mq('phone-large') {
      max-width: 400px !important;
      height: 200px !important;
    }
  }

  .row {

    @include mq('tablet-medium') {
      margin-right: 0;
      margin-left: 0;
    }
  }

  hr {
    margin-bottom: 35px;
  }

  &.is-treatments {

    .p-single__catname {
      background-image: url('../images/happy-baby.png');
      padding: 120px 0 140px;
    }
  }

  @include mq('phone-large') {

    h6 {
      font-size: 18px;
    }

    h5 {
      font-size: 18px;
    }

    h4 {
      font-size: 20px;
    }

    h3 {
      font-size: 23px;
    }

    h2 {
      font-size: 25px;
    }

    ul {

      li {
        padding: 5px 0 5px 30px;
        font-size: 17px;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 17px;
    }

    ol {
      margin: 30px 20px;
    }

    ul {
      margin: 30px 0;
    }

    blockquote {
      margin: 30px 0;
      padding-left: 45px;
      line-height: 28px;
      font-size: 18px;

      &:after {
        top: 8px;
        width: 30px;
        height: 30px;
      }
    }

    .alignleft {
      float: none;
      margin-top: 20px;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .alignright {
      float: none;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0;
    }
  }

  @include mq('desktop-large') {
    padding: 136px 0 0;
  }

  @include mq('desktop-wide') {
    padding: 130px 0 0;
  }

  @include mq('tablet-medium') {
    padding: 110px 0 0;
  }
}
