.p-search {
  background-color: $page-search;
  padding-bottom: 0;
  counter-reset: articleCounter;

  .u-secondary-heading {
    padding: 55px 0;
    text-align: center;
  }

  .searchform {
    position: relative;
    z-index: 2;
    margin-bottom: 90px;

    input {
      display: block !important;
      border-radius: 100px;
      background-color: $search-color;
      padding: 13px 54px;
      line-height: 29px;
      font-size: 24px;
    }

    button {
      position: absolute;
      top: 50%;
      right: 45px;
      transform: translateY(-50%);
    }

    svg {
      width: 35px;
      height: 30px;
    }
  }

  &__nofound {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    svg {
      display: block;
      position: relative;
      z-index: 2;
      fill: $white-opacity-icon;
    }

    p {
      display: block;
      position: relative;
      z-index: 2;
      margin: 10px 0;
      width: 100%;
      text-align: center;
      line-height: 24px;
      color: $color-white;
      font-family: Century Gothic;
      font-size: 26px;
    }

    img {
      position: relative;
      bottom: -50px;
      z-index: 1;
    }
  }

  @include mq('tablet') {

    .searchform {

      input {
        padding: 13px 20px;
      }

      button {
        right: 20px;
      }
    }
  }

  @include mq('phone-wide') {

    .u-secondary-heading {
      padding: 20px 0;
      line-height: 55px;
      font-size: 32px;
    }

    .searchform {
      margin-bottom: 50px;
    }

    &.l-main {

      .u-wrapper {
        padding: 120px 15px 0;
      }
    }

    &__nofound {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
}

