.p-single {
  padding-bottom: 100px;
  color: $color-white;
  font-family: Century Gothic;

  &__catname {
    background-color: $blue;
    background-image: url('../images/archive-title-bc.png');
    background-position: 100% 85%;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    line-height: 1.2;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 36px;
    font-weight: bold;
  }

  &__wrapper {
    position: relative;
  }

  .u-container {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  &__lamp {
    position: absolute;
    top: -13px;
    right: 10px;

    @include mq('desktop-large') {
      width: 140px;
    }

    @include mq('desktop-wide') {
      display: none;
    }
  }

  &__thumbnail {
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    background-color: $color-date;
    padding: 11px 15px;
    color: $color-white;
    font-weight: bold;

    .is-day {
      margin-bottom: 4px;
      font-size: 36px;
    }

    .is-mounth {
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    width: 100%;

    &:after {
      display: table;
      clear: both;
      height: 0;
      content: '';
    }

    a {
      cursor: pointer;
      color: $dark-blue !important;
    }
  }

  &__col {
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $last-news-bc;
    padding: 25px 15px;
    height: 100%;
    overflow: hidden;
    color: $color-white;

    .p-single__newimg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .p-single__boxtext {
      display: flex;
      position: relative;
      flex-direction: column;
      z-index: 3;
      width: 100%;
      height: 100%;
      text-align: center;

      .u-btn-main {
        display: block;
        margin: 0 auto;
        margin-top: auto;
        padding: 17px 0;
        width: 250px;
      }

      h3 {
        position: relative;
        margin-bottom: 20px;
        line-height: 26px;
        font-size: 20px;
      }
    }
  }

  @include mq('tablet-medium') {
    &__lamp {
      display: none;
    }
  }

  @include mq('tablet') {
    &__title {
      width: 100%;
    }

    &__col {
      padding-right: 0;
      padding-left: 0;
    }

    &__date {
      flex-direction: row;
      order: 2;
      margin-top: 15px;
      padding: 7px 10px;

      .is-day {
        margin-bottom: 0;
        font-size: 22px;
      }

      .is-mounth {
        margin-left: 10px;
        font-size: 22px;
      }
    }

    .u-container {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }

  @include mq('phone-large') {
    padding-bottom: 50px;

    &__date {
      margin-right: 20px;

      .is-day {
        font-size: 18px;
      }

      .is-mounth {
        font-size: 18px;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__content {
      margin-top: 30px;
    }
  }
}
