.p-testimonial {
  position: relative;
  background-color: $number-list-color;
  background-image: url('../images/vawes.svg');
  background-repeat: repeat;
  background-position: center center;
  padding: 166px 0 200px;
  overflow: hidden;

  @include mq('desktop-large') {
    padding: 136px 0 150px;
  }

  @include mq('desktop-wide') {
    padding: 130px 0;
  }

  @include mq('tablet-medium') {
    padding: 110px 0;
  }

  .u-wrapper {
    padding: 0;
  }

  .u-container {
    position: relative;
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__lamp {
    position: absolute;
    top: -10px;
    left: 0;
  }
}
