.p-thanks {
  position: relative;
  background-color: $number-list-color;
  background-image: url('../images/vawes.svg');
  background-repeat: repeat;
  background-position: center center;
  padding-top: 300px;
  padding-bottom: 225px;
  overflow: hidden;
  text-align: center;
  font-family: 'Century Gothic';
  font-weight: bold;

  @include mq('desktop-large') {
    padding-top: 200px;
    padding-bottom: 130px;
  }

  @include mq('tablet-medium') {
    padding-top: 320px;
    padding-bottom: 300px;
  }

  @include mq('phone-large') {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  h2 {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.1;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 100px;

    @include mq('desktop-large') {
      line-height: 130px;
      font-size: 70px;
    }

    @include mq('phone-large') {
      line-height: 65px;
      font-size: 40px;
    }
  }

  p {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding-bottom: 25px;
    max-width: 450px;
    text-align: center;
    line-height: 29px;
    color: $color-white;
    font-size: 24px;
    font-weight: normal;

    @include mq('phone-large') {
      padding-bottom: 15px;
      font-size: 16px;
    }

    &::after {
      position: absolute;
      right: 5%;
      bottom: 0;
      left: 5%;
      background-color: $color-white;
      height: 1px;
      content: '';
    }
  }

  &__subscribe {
    display: block;
    position: relative;
    z-index: 2;
    padding-top: 85px;
    text-align: center;
    line-height: 22px;
    color: $color-white;
    font-size: 18px;
    @include mq('phone-large') {
      padding-top: 50px;
      font-size: 14px;
    }
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;

    svg {
      margin: 0 15px;
      width: 100px;
      height: 100px;
    }

    path {
      fill: $color-white;
    }
  }

  .col-xl-3,
  .col-lg-6,
  .col-md-6 {
    position: relative;
    flex: 0 0 100%;
    z-index: 2;
    max-width: 100%;
  }

  .c-social__item {
    justify-content: center;
    margin-top: 15px;
    margin-left: auto;

    svg {
      width: 64px !important;
      height: 64px !important;
      @include mq('desktop-large') {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}
