.l-banners {
  padding-top: 176px;

  @include mq('desktop-large') {
    padding-top: 146px;
  }

  @include mq('desktop-wide') {
    padding-top: 141px;
  }

  @include mq('tablet-wide') {
    padding-top: 110px;
  }
}
