.l-blog {
  position: relative;
  padding: 67px 0 75px;
  text-align: center;

  &__row {
    margin-bottom: 50px;

    @include mq('tablet-medium') {
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 380px;
    }

    @include mq('phone-large') {
      margin-bottom: 35px;
    }
  }

  &__margin {
    margin: 40px -15px;
  }

  &__lamp {
    position: absolute;
    top: -14px;
    left: 38px;

    @include mq('tablet') {
      display: none;
    }
  }

  .c-arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
  }

  .u-relative {
    z-index: 2;
  }

  .u-secondary-heading {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
  }

  .u-btn {
    padding: 16px 0;
  }

  .c-dots-block {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  &__col {
    padding-bottom: 40px;
    height: 100%;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }

  @include mq('phone-large') {
    padding: 67px 0 120px;
  }
}
