.l-healing {
  position: relative;
  padding-bottom: 97px;

  &__row {
    justify-content: space-between;
  }

  &__col {
    flex: 0 0 25%;
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 25%;
  }

  &__wide {
    margin: 0 -20px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &__dragon {
    position: absolute;
    top: 0;
    left: 0;

    img {
      margin-left: -100px;
    }
  }

  p {
    margin: 15px auto 0;
    max-width: 280px;
    text-align: center;
    line-height: 30px;
    color: $color-black;
    font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: bold;
  }

  .u-secondary-heading {
    padding: 76px 0;
    text-align: center;
  }

  .c-dots-block {

    ul {
      display: flex;
      justify-content: center;
    }
  }

  @include mq('desktop') {

    &__row {
      justify-content: center;
    }

    &__col {
      margin-bottom: 40px;
    }

    &__dragon {
      display: none;
    }
  }

  @include mq('tablet-medium') {

    &__col {
      width: 33.33333%;
      max-width: 33.33333%;
    }
  }

  @include mq('tablet') {

    &__col {
      width: 33.33333%;
      max-width: 33.33333%;
    }
  }

  @include mq('phone-large') {
    padding-bottom: 47px;

    &__col {
      width: 100%;
      max-width: 100%;
    }
  }

  @include mq('phone') {

    .u-secondary-heading {
      padding: 70px 0 35px;
    }

    img {
      margin-bottom: 15px;
    }
  }
}
