.l-mail {
  position: relative;
  margin: 0 auto;
  background-color: $pink;
  padding: 70px 0;

  @include mq('tablet-medium') {
    padding-top: 80px;
  }

  @include mq('phone-large') {
    padding: 113px 35px 247px;
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 500px;
    text-align: center;
    line-height: 20px;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 16px;
  }

  &__warning {
    display: none;
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    color: $btn-color;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: bold;

    &.is-active {
      display: block;
    }
  }

  .u-subtitle {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 4px 4px $subtitle-shadow;
    line-height: 59px;
    font-size: 32px;

    @include mq('tablet-medium') {
      line-height: 48px;
      font-size: 26px;
    }
  }

  .u-relative {
    z-index: 2;
  }
}
