.l-main {
  padding-bottom: 100px;

  @include mq('tablet-medium') {
    padding-bottom: 0;
  }

  &__img {
    margin-top: 25px;

    @include mq('tablet-medium') {
      margin-top: 15px;
    }

    @include mq('tablet') {
      margin-top: 0;
    }

    img {
      width: 100%;
    }
  }

  &__stars {
    position: relative;
    z-index: 5;
    margin: 0 -80px;
    background: url('../images/main-section-stars.png');
    height: 100%;

    @include mq('tablet-medium') {
      background-position: center;
      background-size: cover;
    }

    @include mq('tablet') {
      margin: 0 -30px;
      background: url('../images/main-section-stars-320.png');
      background-size: cover;
    }
  }

  &__info {
    position: relative;
    z-index: 10;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    user-select: none;

    @include mq('desktop') {
      max-width: 980px;
    }

    @include mq('tablet-medium') {
      margin-right: auto;
      margin-left: auto;
      padding-top: 0;
      max-width: 720px;
    }

    @include mq('tablet') {
      max-width: 100%;
    }

    .u-btn-main {
      padding: 17px 75px;

      @include mq('phone') {
        padding: 17px 42px;
      }
    }
  }

  &__slide {
    @include mq('desktop-wide') {
      padding-left: 0;
    }
    @include mq('tablet') {
      flex-direction: column;
    }
    display: flex !important;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  &__content {
    @include mq('desktop') {
      width: 400px;
    }
    @include mq('tablet-medium') {
      margin-top: 15px;
      width: 300px;
    }
    @include mq('tablet') {
      order: 2;
      padding-right: 0;
      width: 100%;
    }
    @include mq('phablet') {
      margin-top: 10px;
      padding: 0 10px;
    }
    flex-shrink: 0;
    margin-top: 25px;
    padding-right: 20px;
    width: 500px;

    p {
      @include mq('tablet') {
        margin: 10px auto;
      }
      margin-top: 20px;
      margin-bottom: 40px;
      max-width: 560px;
      line-height: 30px;
      color: $color-white;
      font-family: Montserrat;
      font-size: 18px;
    }
  }

  &__svg {

    svg {
      @include mq('tablet-medium') {
        top: -10px;
        right: -10px;
      }
      position: absolute;
      top: 20px;
      right: 100px;

      &.is-star-full {
        display: none;
      }
    }
  }

  &__banners {
    @include mq('tablet') {
      margin-top: -70px;
    }
  }

  .c-dots-block {
    position: absolute;
    bottom: 275px;
    margin-left: 240px;
    @include mq('desktop-wide') {
      margin-left: 90px;
    }
    @include mq('desktop') {
      margin-left: 30px;
    }
    @include mq('tablet-medium') {
      bottom: 90px;
      transform: translateX(-50%);
      margin-left: 50%;
    }
  }

  .u-wrapper {

    @include mq('desktop-large') {
      padding-top: 170px;
    }

    @include mq('tablet-medium') {
      padding-top: 140px;
    }
    @include mq('tablet') {
      padding: 140px 30px 0;
    }
    position: relative;
    padding-top: 204px;
    overflow: hidden;
  }

  .u-subtitle {
    @include mq('tablet-medium') {
      text-align: left;
    }
    @include mq('tablet') {
      text-align: center;
    }
    @include mq('phone-large') {
      line-height: 32px;
      font-size: 20px;
    }
  }

  .u-secondary-heading {
    @include mq('tablet-medium') {
      font-size: 36px;
    }
    @include mq('tablet') {
      text-align: center;
    }
    @include mq('phone-large') {
      font-size: 30px;
    }
    line-height: 1.3;
  }
}
