.l-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
  background-color: $dark-blue;
  height: 100%;
  overflow-y: auto;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: fixed;
    top: 83px;
    right: 30px;
    fill: $color-white;
  }

  .c-modal {
    position: absolute;
    top: 110px;
    left: 0;
    transform: scale(1.3);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    width: 100%;

    &.is-active {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }

    &__menu {
      padding: 0;

      li {
        display: block;
        border-bottom: $header-border;
        padding: 10px 15px;
        color: $color-white;

        &:hover {
          background-color: transparent;
          color: $color-white;
        }

        .c-main-nav__caret {
          fill: $color-white;
        }
      }
    }
  }

  .u-btn {
    margin: 20px auto;
    border: 1px solid $color-white;
    max-width: 212px;
    color: $color-white;
    font-size: 14px;
  }

  .c-main-nav {
    display: block;
    margin-bottom: 25px;
    border-top: $header-border;
    text-align: left;
    color: $color-white;

    &__item {
      line-height: 150%;

      a {
        position: relative;
        line-height: 130%;
      }
    }

    .c-main-subnav {
      display: none;
      position: relative;
      top: 0;
      transition: none;
      visibility: visible;
      opacity: 1;
      margin: 0 -15px;
      background: none;
      padding: 15px 0 0;
    }

    .c-sub-menu-2 {
      display: block;
      width: 100%;

      li {
        padding: 15px 30px;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .c-sub-menu-3 {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      margin: 15px -30px -15px;
      width: auto;

      li {
        padding: 15px 45px;
      }
    }
  }

  .u-sub-menu li {
    line-height: 20px;
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: normal;
  }

  .u-sub-menu {

    .js-list {
      display: none;

      .c-sub-menu-3 {
        display: block;
      }

      .c-sub-menu-4 {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 5px;
      }
    }
  }

  .c-social {
    display: none;
    border-bottom: 0;

    .u-col {
      flex: 100%;
      width: 100%;
      max-width: 100%;
    }

    &__item {
      justify-content: center !important;
      margin-left: 0;
    }
  }

  .c-social-bar {
    display: none;
  }
}

.is-active-item {
  color: $btn-color;
}
