.l-photogallery {
  position: relative;
  z-index: 2;
  background-image: url('../images/photo-gallery-bg.jpg');
  background-size: cover;
  padding: 110px 0;
  text-align: center;
  clip-path: ellipse(170% 100% at 50% 0%);

  .u-secondary-heading {
    margin-bottom: 70px;
  }

  &__text {
    display: block;
    margin: 0 auto 100px;
    max-width: 700px;
    color: $dark-grey;
  }

  &__gallery {
    position: relative;
    margin-bottom: 90px;

    &:after,
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 2;
      width: 280px;
      content: '';
    }

    &:after {
      left: 0;
      background-image: linear-gradient(to left, $photo-gallery, $photo-gallery-opacity);
    }

    &:before {
      right: 0;
      background-image: linear-gradient(to right, $photo-gallery, $photo-gallery-opacity);
    }

    &-row {
      margin: 0 -15px;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
    }

    &-prev {
      left: 80px;
      transform: rotate(180deg) translateY(-50%);
      transform-origin: top;
    }

    &-next {
      right: 80px;
    }
  }

  &__slide {

    img {
      padding: 0 15px;
      width: 100%;
    }
  }

  .u-btn-main {
    margin: 0 auto;
  }

  @include mq('tablet-medium') {
    padding: 60px 0;
    clip-path: ellipse(210% 98% at 50% 0%);

    .u-secondary-heading {
      margin-bottom: 35px;
    }

    &__text {
      margin: 0 auto 50px;
      max-width: 100%;
    }
  }

  @include mq('phone-large') {

    &__text {
      margin: 0 auto 90px;
    }

    &__gallery {
      margin-bottom: 40px;

      &:before,
      &:after {
        content: none;
      }

      &-row {
        margin: 0;
        padding: 0 10px;
      }

      &-prev,
      &-next {
        display: flex;
        top: -45px;
        border-radius: 4px;
        background-color: $btn-color;
        cursor: pointer;
        padding: 6px 10px;
        box-sizing: border-box;

        img {
          width: 9px;
        }
      }

      &-prev {
        right: 70px;
        left: auto;
      }

      &-next {
        right: 25px;
      }
    }
  }

  @include mq('phone-wide') {
    padding: 25px 0 60px;
  }
}
