.l-service {
  color: $color-black;
  font-family: Century Gothic;

  &__title {
    background-color: $blue;
    background-image: url('../images/archive-title-bc.png');
    background-position: 100% 85%;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    line-height: 1.2;
    color: $color-white;
    font-family: Century Gothic;
    font-size: 36px;
    font-weight: bold;
  }

  &__content {
    position: relative;
    padding-top: 100px;
  }

  &__lamp {
    position: absolute;
    top: -13px;
    right: 0;
  }

  &__form {
    position: relative;
    margin: 0 auto;
    background-color: $pink;
    padding: 70px 0;
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  table a {
    color: $yellow;
  }

  @include mq('desktop') {

    &__lamp {
      display: none;
    }
  }

  @include mq('tablet') {

    &__form {
      padding: 35px 0;
    }

    &__wall {
      display: none;
    }
  }
}
