.l-testing {
  position: relative;
  background-color: $pink;

  &__content {
    position: relative;
    z-index: 2;
    margin: 50px 0;
    max-width: 500px;
  }

  .u-secondary-heading {
    margin-bottom: 15px;
  }

  .u-btn-main {
    margin-top: 30px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &__wall {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__children {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  @include mq('phone-large') {

    &__row {
      text-align: center;
    }

    &__children {
      position: relative;
      top: -50px;
      transform: none;
      margin-bottom: -50px;
      max-width: 75%;
    }
  }
}
