.l-treat {
  position: relative;
  padding: 67px 0 75px;

  .u-secondary-heading {
    position: relative;
    margin-bottom: 55px;
    text-align: center;
  }

  .c-arrows {
    right: 30px;
  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.6;
    color: $dark-grey;
    font-family: Century Gothic;
    font-size: 16px;
  }

  &__lamp {
    position: absolute;
    top: -44px;
    right: 23px;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/treatments-border.svg');
    background-repeat: no-repeat;
    background-position: 100% 31%;
  }

  &__col {
    margin-bottom: 60px;
    min-height: 230px;
  }

  .c-treat-card {
    justify-content: center;
    height: 100%;
  }

  .c-dots-block {
    justify-content: center;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    height: auto;

    &>div {
      height: 100%;
    }
  }

  @include mq('tablet-medium') {

    .u-secondary-heading {

      &:before,
      &:after {
        content: none;
      }
    }

    &__col {
      margin-bottom: 40px;
      height: 100%;
      min-height: auto;
    }

    &__row {
      margin: 0 auto;
    }

    &__bg {
      display: none !important;
    }

    &__lamp {
      display: none;
    }
  }

  @include mq('tablet') {
    padding: 32px 0 75px;
  }

  @include mq('phone-large') {
    padding-bottom: 50px;

    &__row {
      margin-bottom: 47px;
    }

    .c-treat-card {
      margin-bottom: 0;
    }
  }
}
