.l-why-us {
  position: relative;
  z-index: 2;

  &__top {
    background-color: $light-green;
    padding-bottom: 60px;
    text-align: center;
  }

  &__bottom {
    background-color: $why-us-bg;
    padding: 70px 0 90px;
    text-align: center;
    clip-path: ellipse(170% 100% at 50% 0%);

    &-title {
      line-height: 1.2;
      color: $color-black;
      font-size: 50px;
      font-weight: bold;
    }

    &-text {
      text-transform: lowercase;
      line-height: 1.2;
      color: $color-black;
      font-size: 18px;
    }

    &-col {
      border-right: 1px dashed $color-date;

      &:last-child {
        border-right: 0;
      }
    }
  }

  &__row {
    justify-content: space-between;
  }

  &__col {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 20%;
  }

  &__wide {
    margin: 0 -20px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 15px auto 0;
    max-width: 280px;
    line-height: 22px;
    font-family: 'Century Gothic';
    font-size: 16px;
  }

  .u-secondary-heading {
    padding: 76px 0;
    text-align: center;
  }

  @include mq('desktop') {

    &__row {
      justify-content: center;
    }

    &__col {
      margin-bottom: 40px;
    }
  }

  @include mq('tablet-medium') {

    .u-secondary-heading {
      padding: 40px 0;
    }

    &__col {
      width: 100%;
      max-width: 100%;
    }
  }

  @include mq('tablet') {

    &__top {
      padding-bottom: 20px;
    }

    &__bottom {
      background-color: $light-green;
      padding: 30px 0;

      &-col {
        position: relative;
        margin-bottom: 20px;
        border-right: 0;
        padding-bottom: 30px;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border: 1px dashed $color-date;
          width: 85px;
          height: 1px;
          content: '';
        }
      }
    }
  }

  @include mq('phone') {

    img {
      margin-bottom: 15px;
    }
  }

  .c-dots-block {

    ul {
      display: flex;
      justify-content: center;
    }
  }
}
