// ----------------------------
// Параметры сайта
// ----------------------------
$default-font-size: 16px;

// ----------------------------
// Параметры контейнера
// ----------------------------
$container-lg: 1105px;
$container-md: 94%;
$container-sm: 85%;

// ----------------------------
// Основные цвета
// ----------------------------
$color-neon-green: #0d5;

$color-white: #fff;
$color-grey: #757575;
$main-color: #2b3363;

$main-dark-opacity-color: rgba(17, 32, 65, 0.8);
$menu-light-color: rgba(64, 75, 145, 0.8);
$menu-medium-color: rgba(47, 55, 107, 0.8);
$menu-dark-color: rgba(35, 41, 80, 0.8);

$white-opacity: rgba(255, 255, 255, 0.2);
$white-opacity-icon: rgba(255, 255, 255, 0.6);

// $copyright-color: #d0d4ec;
$card-grey: #717171;
$btn-shadow: rgba(0, 0, 0, 0.2);
$subtitle-shadow: rgba(0, 0, 0, 0.25);
$btn-color: #dd6170;
// $dark-blue: #212851;
// $light-blue: #7398d6;
$testimonials-card-color: #636161;
$testimonials-card-bg: #413876;
$arrows-color: #5c80bc;
$social-bar-shadow-color: rgba(161, 161, 161, 0.5);
$facebook-color: #3b5998;
$youtube-color: #c4302b;
$skype-color: #00aff0;
$dots-color: #c4c4c4;
$error-shadow: rgba(220, 53, 69, 0.25);
$modal-container: rgba(0, 0, 0, 0.7);
$padination: #c699a3;
$padination-opacity: rgba(221, 198, 198, 0.6);
$header-border: 1px solid rgba(255, 255, 255, 0.4);
$error-color: #f00;
$yellow: #fcbf49;
$caption-green: #00bab4;


$default-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
$blog-card-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
$transition: 300ms cubic-bezier(0.25, 0.1, 0.25, 1);


$page-search: rgba(74, 139, 198, 0.9);
$color-green: #86ae88;
$number-list-color: #c699a3;
$color-black: #404040;
$dark-grey: #818181;
$footer-separator: #90c6f5;
$dark-blue: #4a8bc6;
$blue: #84bbec;
$pink: #f7e2e3;
$light-green: #ecfaed;
$green: #a5d6a7;
$color-date: #95c197;
$color-black: #4b4b4b;
$last-news-bc: #0e385f;


$article-blue: #1b466e;
$photo-gallery: rgba(0, 0, 0, 0);
$photo-gallery-opacity: rgba(0, 0, 0, 0);
$why-us-bg: rgba(165, 214, 167, 0.5);
$search-color: #5e9cd4;
$buttom-border: #b4aeaf;

// ----------------------------
// Media Breakpoints
// ----------------------------
$breakpoints: (
  'iphone5': 320px,
  'phone': 400px,
  'phone-medium': 420px,
  'phone-wide': 480px,
  'phablet': 560px,
  'phone-large': 576px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-medium': 992px,
  'tablet-wide': 1024px,
  'desktop': 1200px,
  'desktop-wide': 1440px,
  'desktop-large': 1600px
);

// ----------------------------
// z-index priority
// ----------------------------
$z-indexes: (
  'comet',
  'outdated-browser',
  'modal',
  'site-header',
  'page-wrapper',
  'site-footer'
);
