<div class="d-flex flex-column is-address-block">
  {% if ( mail|length > 0 and widget_id == 'footer_top' ) %}
    <div class="c-social__item is-email">
      <svg width="30px" height="35px" class="c-social__svg">
        <use xlink:href="#icon-message"></use>
      </svg>
      <a href="mailto:ocd@gc-ivf.com" class="c-social__text is-bold">
        {{ mail }}
      </a>
    </div>
  {% endif %}
  {% if (address|length > 0) %}
    <div class="c-social__item is-address">
      <svg width="30px" height="35px" class="c-social__svg">
        <use xlink:href="#icon-location"></use>
      </svg>
      <div class="d-flex flex-column">
        <span class="c-social__text is-footer">{{ 'Visit our clinic' | translateString('Widget address - text') }}</span>
        {% for item in address %}
          {% if item == address[0] %}
            <span class="c-social__text is-bold">{{ item }}</span>
          {% else %}
            <span class="c-social__text is-small">{{ item }}</span>
          {% endif %}
        {% endfor %}
      </div>

      {% if widget_id == 'header_top' %}
        <div class="c-social__dropdown">
          <svg width="20px" height="20px" class="c-social__close">
            <use xlink:href="#close"></use>
          </svg>
          {% for item in address %}
            <a>{{ item }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
