<div class="c-social__item is-cabinet">
{#  <a class="d-flex align-items-center" href="{{ link }}">#}
    <svg width="14px" height="16px" class="c-social__svg">
      <use xlink:href="#icon-user" />
    </svg>
    <span class="c-social__text">{{ text }}</span>
{# </a>#}
</div>
