{# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 u-col">
  {% if (phones|length > 0) %}
    <div class="c-social__item">
      <svg width="30px" height="35px" class="c-social__svg">
        <use xlink:href="#icon-phone">
      </svg>
      <div class="d-flex flex-column">
        <span class="c-social__text">{{ 'Phone us' | translateString('Widget phone - text') }}</span>
        {% for phone in phones %}
          <a href="tel:{{ phone.phone }}" class="c-social__text is-bold">{{ phone.label }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div> #}


{% if (phones|length > 0) %}
  <div class="c-social__item">
    <svg width="14px" height="16px" class="c-social__svg">
      <use xlink:href="#icon-phone">
    </svg>
    <span>{{ phones[0].label }}</span>
    {% if (phones|slice(1, phones|length)) %}
      <svg width="9px" height="6px" class="c-social__caret">
        <use xlink:href="#icon-caret">
      </svg>
    {% endif %}
      <div class="c-social__dropdown">
        <svg width="20px" height="20px" class="c-social__close">
          <use xlink:href="#close">
        </svg>
        {% for phone in phones|slice(0, phones|length) %}
          <a href="tel:{{ phone.phone }}">{{ phone.label }}</a>
        {% endfor %}
      </div>
  </div>
{% endif %}
