{% if (posts|length > 0) %}
{# <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 u-col"> #}
  <div class="c-social__item">
    <svg width="30px" height="35px" class="c-social__svg">
      <use xlink:href="#icon-message"></use>
    </svg>
    <div class="d-flex flex-column">
      <span class="c-social__text">{{ 'Write us' | translateString('Widget posts - text') }}</span>
      {% for item in posts %}
        <a href="mailto:{{ item }}" class="c-social__text is-bold">{{ item }}</a>
      {% endfor %}
    </div>
  </div>
{# </div> #}

{% endif %}
