<div class="c-social__item is-social">
  <div class="is-social__shared">
    <img src="{{ site.theme.link }}/dev/images/shared.svg" alt="">
  </div>
  <div class="is-social__icons">
    {% if weibo != '' %}
      <a href="{{ weibo }}">
        <svg width="56" height="55" viewBox="0 0 310 310" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="155" cy="155" r="155" fill="#DE6171"/>
          <path d="M107.108 238H70.2859V126.742H107.108V238ZM68 91.3364C68 86.0041 69.9909 79.5169 73.9726 76.1101C77.9543 72.7034 82.1229 71 88.4784 71C94.8339 71 99.0025 72.7034 102.984 76.1101C106.966 79.5169 108.957 86.0041 108.957 91.3364C108.957 96.6687 106.966 103.156 102.984 106.563C99.0025 109.969 94.8339 111.673 88.4784 111.673C82.1229 111.673 77.9543 109.969 73.9726 106.563C69.9909 103.156 68 96.6687 68 91.3364Z" fill="white"/>
          <path d="M166.275 126.742L166.538 140.851C171.697 131 185.922 123.462 201.007 123.462C213.948 123.462 226.641 128.26 232.996 135.74C239.428 143.22 242.77 154.478 243 169.512V238H205.167V173.243C205.167 167.171 202.892 162.727 200.365 159.913C197.838 157.024 194.255 155.58 187.594 155.58C180.013 155.58 173.385 158.468 169.71 164.245C166.034 170.022 167.687 238 167.687 238H126.946V126.742H166.275Z" fill="white"/>
        </svg>
      </a>
    {% endif %}

    {% if wechat != '' %}
      <a href="#is-qr" class="js-wechat">
        <svg width="56" height="55" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="28" cy="27.2727" r="27.2727"/>
          <g clip-path="url(#clip0)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.397 38.6743C44.7061 37.0001 46.1818 34.5258 46.1818 31.7743C46.1818 26.7349 41.2773 22.6486 35.2288 22.6486C29.1803 22.6486 24.2758 26.7349 24.2758 31.7743C24.2758 36.8152 29.1803 40.9016 35.2288 40.9016C36.4788 40.9016 37.6848 40.7243 38.8045 40.4016L39.1258 40.3531C39.3364 40.3531 39.5273 40.4183 39.7076 40.5213L42.1061 41.9061L42.3167 41.9743C42.5182 41.9743 42.6818 41.8107 42.6818 41.6092L42.6227 41.3425L42.1288 39.5016L42.0909 39.2683C42.0909 39.0228 42.2121 38.8061 42.397 38.6743ZM22.9621 12.5713C15.703 12.5713 9.81818 17.4743 9.81818 23.5243C9.81818 26.8243 11.5879 29.7955 14.3591 31.8031C14.5818 31.9607 14.7273 32.2213 14.7273 32.5167L14.6818 32.7955L14.0894 35.0046L14.0182 35.3243C14.0182 35.5667 14.2151 35.7637 14.4561 35.7637L14.7106 35.6819L17.5879 34.0198C17.803 33.8955 18.0318 33.8183 18.2848 33.8183L18.6712 33.8758C20.0136 34.2622 21.4621 34.4773 22.9621 34.4773L23.6833 34.4592C23.3985 33.6046 23.2424 32.7046 23.2424 31.7758C23.2424 26.2592 28.6091 21.7864 35.2288 21.7864L35.9424 21.8046C34.953 16.5728 29.5182 12.5713 22.9621 12.5713ZM31.5773 30.3152C30.7712 30.3152 30.1182 29.6607 30.1182 28.8546C30.1182 28.047 30.7712 27.394 31.5773 27.394C32.3848 27.394 33.0379 28.047 33.0379 28.8546C33.0379 29.6607 32.3848 30.3152 31.5773 30.3152ZM38.8803 30.3152C38.0727 30.3152 37.4197 29.6607 37.4197 28.8546C37.4197 28.047 38.0727 27.394 38.8803 27.394C39.6864 27.394 40.3394 28.047 40.3394 28.8546C40.3394 29.6607 39.6864 30.3152 38.8803 30.3152ZM18.5803 21.7713C17.6121 21.7713 16.8288 20.9864 16.8288 20.0198C16.8288 19.0516 17.6121 18.2667 18.5803 18.2667C19.5485 18.2667 20.3333 19.0516 20.3333 20.0198C20.3333 20.9864 19.5485 21.7713 18.5803 21.7713ZM27.3424 21.7713C26.3742 21.7713 25.5909 20.9864 25.5909 20.0198C25.5909 19.0516 26.3742 18.2667 27.3424 18.2667C28.3106 18.2667 29.0954 19.0516 29.0954 20.0198C29.0954 20.9864 28.3106 21.7713 27.3424 21.7713Z"/>
          </g>
        </svg>
      </a>
    {% endif %}

    {% if skype != '' %}
      <a href="{{ skype }}">
        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="27.7273" cy="27.2727" r="27.2727"/>
            <path d="M41.2243 29.1211C41.3061 28.515 41.3637 27.9014 41.3637 27.2726C41.3637 19.7408 35.2591 13.6362 27.7273 13.6362C27.0985 13.6362 26.4849 13.6938 25.8788 13.7756C24.4894 12.7408 22.7743 12.1211 20.9091 12.1211C16.3061 12.1211 12.5758 15.8514 12.5758 20.4544C12.5758 22.3196 13.1955 24.0347 14.2304 25.4241C14.1485 26.0302 14.091 26.6438 14.091 27.2726C14.091 34.8044 20.1955 40.909 27.7273 40.909C28.3561 40.909 28.9697 40.8514 29.5758 40.7696C30.9652 41.8044 32.6804 42.4241 34.5455 42.4241C39.1485 42.4241 42.8788 38.6938 42.8788 34.0908C42.8788 32.2256 42.2591 30.5105 41.2243 29.1211ZM27.6955 34.8484C23.4804 34.8484 21.0576 32.6393 21.0576 30.4696C21.0576 29.3635 22.2152 29.0105 22.6788 29.0105C23.7501 29.0105 24.1061 29.8847 24.3 30.2847C25.3864 32.5211 26.4319 32.2272 27.4622 32.3241C28.3728 32.4105 30.5091 32.009 30.5091 30.4484C30.5091 30.2999 30.744 29.2847 28.9001 28.7802C27.7213 28.459 25.644 28.0635 23.9334 27.4059C22.3243 26.7878 21.3819 25.512 21.3819 23.8696C21.3819 23.0438 21.8016 19.6969 27.4985 19.6969C31.2985 19.6969 33.3258 21.6438 33.3258 23.3575C33.3258 23.7514 33.1758 24.0984 32.8743 24.412C32.5728 24.7256 31.7213 25.1817 30.7894 24.5862C30.5546 24.4362 30.3622 24.1226 30.1288 23.7181C29.85 23.2075 29.3925 22.2226 27.291 22.2226C25.25 22.2226 24.6849 23.1969 24.6849 23.6014C24.6849 24.965 27.2879 25.2514 27.9864 25.4317C30.5379 26.0893 34.0107 26.6938 34.0107 30.1347C34.0076 34.0862 29.8985 34.8484 27.6955 34.8484Z"/>
        </svg>
      </a>
    {% endif %}
  </div>
  <div class="c-social__dropdown">
    <svg width="20px" height="20px" class="c-social__close">
      <use xlink:href="#close" />
    </svg>
    {% if weibo != '' %}
      <a href="{{ weibo }}">
        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="27.2727" cy="27.2727" r="27.2727" />
          <path d="M34.5454 13.4546C33.9801 13.4546 33.4346 13.5114 32.909 13.6052C32.5142 13.6733 32.25 14.0512 32.3181 14.4461C32.3863 14.8438 32.7642 15.108 33.159 15.0398C33.6193 14.9574 34.0795 14.9091 34.5454 14.9091C38.9715 14.9091 42.5454 18.483 42.5454 22.9091C42.5454 23.8665 42.3693 24.7813 42.0568 25.6392C41.9602 25.8864 42.0028 26.1648 42.1704 26.3694C42.3409 26.5739 42.6051 26.6705 42.8664 26.6222C43.1278 26.5739 43.3409 26.3864 43.4232 26.1364C43.7897 25.1307 44 24.0483 44 22.9091C44 17.6961 39.7585 13.4546 34.5454 13.4546ZM34.5454 17.8182C34.2358 17.8182 33.9431 17.8495 33.6647 17.8978C33.2698 17.9688 33.0028 18.3438 33.0738 18.7415C33.142 19.1364 33.5198 19.4006 33.9147 19.3324C34.1278 19.2955 34.338 19.2728 34.5454 19.2728C36.5625 19.2728 38.1818 20.8921 38.1818 22.9091C38.1818 23.3438 38.1022 23.7586 37.9573 24.1506C37.821 24.5285 38.017 24.9461 38.3948 25.0824C38.7727 25.2188 39.1903 25.0256 39.3267 24.6478C39.5227 24.108 39.6363 23.5228 39.6363 22.9091C39.6363 20.1052 37.3494 17.8182 34.5454 17.8182ZM24.4914 18.1137C22.1562 18.0682 18.6335 19.912 15.4943 22.9915C12.3721 26.1137 10.5454 29.3864 10.5454 32.2046C10.5454 37.6819 17.5483 40.9546 24.4744 40.9546C33.4545 40.9546 39.4659 35.7813 39.4659 31.6705C39.4659 29.1591 37.3352 27.787 35.4318 27.179C34.9772 27.0256 34.6733 26.9517 34.9005 26.341C35.0511 25.9773 35.2727 25.2841 35.2727 24.3637C35.2727 23.3182 34.5454 22.412 33.0909 22.25C32.3693 22.1705 29.4545 22.1819 27.5198 22.9915C27.5198 22.9915 26.4517 23.4517 26.7556 22.6137C27.2897 20.9404 27.213 19.5682 26.375 18.8069C25.9204 18.3495 25.2727 18.1279 24.4914 18.1137ZM23.8636 26.4972C29.5397 26.4972 34.1392 29.3921 34.1392 32.966C34.1392 36.537 29.5397 39.4319 23.8636 39.4319C18.1903 39.4319 13.5909 36.537 13.5909 32.966C13.5909 29.3921 18.1903 26.4972 23.8636 26.4972ZM23.1022 28.0171C20.9062 28.0341 18.7727 29.2358 17.8465 31.0881C16.7045 33.4432 17.7698 36.0313 20.5085 36.8665C23.2471 37.7785 26.517 36.4091 27.659 33.9006C28.7983 31.4688 27.3551 28.8836 24.6164 28.2017C24.1164 28.0711 23.6079 28.0142 23.1022 28.0171ZM24.2358 31.091C24.6562 31.091 24.9971 31.429 24.9971 31.8495C24.9971 32.2699 24.6562 32.6108 24.2358 32.6108C23.8153 32.6108 23.4744 32.2699 23.4744 31.8495C23.4744 31.429 23.8153 31.091 24.2358 31.091ZM21.0312 31.8495C21.2698 31.8523 21.5085 31.8892 21.7329 31.966C22.7073 32.2756 23.0056 33.1989 22.4062 33.9688C21.8835 34.7387 20.6875 35.1222 19.7869 34.7387C18.892 34.3552 18.6676 33.429 19.1903 32.7387C19.5823 32.1591 20.3125 31.841 21.0312 31.8495Z" />
        </svg>
      </a>
    {% endif %}

    {% if wechat != '' %}
      <a href="{{ wechat }}">
        <svg width="56" height="55" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="28" cy="27.2727" r="27.2727"/>
          <g clip-path="url(#clip0)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.397 38.6743C44.7061 37.0001 46.1818 34.5258 46.1818 31.7743C46.1818 26.7349 41.2773 22.6486 35.2288 22.6486C29.1803 22.6486 24.2758 26.7349 24.2758 31.7743C24.2758 36.8152 29.1803 40.9016 35.2288 40.9016C36.4788 40.9016 37.6848 40.7243 38.8045 40.4016L39.1258 40.3531C39.3364 40.3531 39.5273 40.4183 39.7076 40.5213L42.1061 41.9061L42.3167 41.9743C42.5182 41.9743 42.6818 41.8107 42.6818 41.6092L42.6227 41.3425L42.1288 39.5016L42.0909 39.2683C42.0909 39.0228 42.2121 38.8061 42.397 38.6743ZM22.9621 12.5713C15.703 12.5713 9.81818 17.4743 9.81818 23.5243C9.81818 26.8243 11.5879 29.7955 14.3591 31.8031C14.5818 31.9607 14.7273 32.2213 14.7273 32.5167L14.6818 32.7955L14.0894 35.0046L14.0182 35.3243C14.0182 35.5667 14.2151 35.7637 14.4561 35.7637L14.7106 35.6819L17.5879 34.0198C17.803 33.8955 18.0318 33.8183 18.2848 33.8183L18.6712 33.8758C20.0136 34.2622 21.4621 34.4773 22.9621 34.4773L23.6833 34.4592C23.3985 33.6046 23.2424 32.7046 23.2424 31.7758C23.2424 26.2592 28.6091 21.7864 35.2288 21.7864L35.9424 21.8046C34.953 16.5728 29.5182 12.5713 22.9621 12.5713ZM31.5773 30.3152C30.7712 30.3152 30.1182 29.6607 30.1182 28.8546C30.1182 28.047 30.7712 27.394 31.5773 27.394C32.3848 27.394 33.0379 28.047 33.0379 28.8546C33.0379 29.6607 32.3848 30.3152 31.5773 30.3152ZM38.8803 30.3152C38.0727 30.3152 37.4197 29.6607 37.4197 28.8546C37.4197 28.047 38.0727 27.394 38.8803 27.394C39.6864 27.394 40.3394 28.047 40.3394 28.8546C40.3394 29.6607 39.6864 30.3152 38.8803 30.3152ZM18.5803 21.7713C17.6121 21.7713 16.8288 20.9864 16.8288 20.0198C16.8288 19.0516 17.6121 18.2667 18.5803 18.2667C19.5485 18.2667 20.3333 19.0516 20.3333 20.0198C20.3333 20.9864 19.5485 21.7713 18.5803 21.7713ZM27.3424 21.7713C26.3742 21.7713 25.5909 20.9864 25.5909 20.0198C25.5909 19.0516 26.3742 18.2667 27.3424 18.2667C28.3106 18.2667 29.0954 19.0516 29.0954 20.0198C29.0954 20.9864 28.3106 21.7713 27.3424 21.7713Z"/>
          </g>
        </svg>
      </a>
    {% endif %}

    {% if skype != '' %}
      <a href="{{ skype }}">
        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="27.7273" cy="27.2727" r="27.2727"/>
            <path d="M41.2243 29.1211C41.3061 28.515 41.3637 27.9014 41.3637 27.2726C41.3637 19.7408 35.2591 13.6362 27.7273 13.6362C27.0985 13.6362 26.4849 13.6938 25.8788 13.7756C24.4894 12.7408 22.7743 12.1211 20.9091 12.1211C16.3061 12.1211 12.5758 15.8514 12.5758 20.4544C12.5758 22.3196 13.1955 24.0347 14.2304 25.4241C14.1485 26.0302 14.091 26.6438 14.091 27.2726C14.091 34.8044 20.1955 40.909 27.7273 40.909C28.3561 40.909 28.9697 40.8514 29.5758 40.7696C30.9652 41.8044 32.6804 42.4241 34.5455 42.4241C39.1485 42.4241 42.8788 38.6938 42.8788 34.0908C42.8788 32.2256 42.2591 30.5105 41.2243 29.1211ZM27.6955 34.8484C23.4804 34.8484 21.0576 32.6393 21.0576 30.4696C21.0576 29.3635 22.2152 29.0105 22.6788 29.0105C23.7501 29.0105 24.1061 29.8847 24.3 30.2847C25.3864 32.5211 26.4319 32.2272 27.4622 32.3241C28.3728 32.4105 30.5091 32.009 30.5091 30.4484C30.5091 30.2999 30.744 29.2847 28.9001 28.7802C27.7213 28.459 25.644 28.0635 23.9334 27.4059C22.3243 26.7878 21.3819 25.512 21.3819 23.8696C21.3819 23.0438 21.8016 19.6969 27.4985 19.6969C31.2985 19.6969 33.3258 21.6438 33.3258 23.3575C33.3258 23.7514 33.1758 24.0984 32.8743 24.412C32.5728 24.7256 31.7213 25.1817 30.7894 24.5862C30.5546 24.4362 30.3622 24.1226 30.1288 23.7181C29.85 23.2075 29.3925 22.2226 27.291 22.2226C25.25 22.2226 24.6849 23.1969 24.6849 23.6014C24.6849 24.965 27.2879 25.2514 27.9864 25.4317C30.5379 26.0893 34.0107 26.6938 34.0107 30.1347C34.0076 34.0862 29.8985 34.8484 27.6955 34.8484Z"/>
        </svg>
      </a>
    {% endif %}
  </div>

</div>

