{# <p>
    <label for="{{ facebook.id }}">{{ facebook.e }}</label>

    <input class="widefat" id="{{ facebook.id }}"
           name="{{ facebook.name }}" type="tel"
           value="{{ facebook.value }}"/>
</p> #}

<p>
  <label for="{{ weibo.id }}">{{ weibo.e }}</label>

  <input class="widefat" id="{{ weibo.id }}"
         name="{{ weibo.name }}" type="tel"
         value="{{ weibo.value }}"/>
</p>

<p>
  <label for="{{ wechat.id }}">{{ wechat.e }}</label>

  <input class="widefat" id="{{ wechat.id }}"
         name="{{ wechat.name }}" type="tel"
         value="{{ wechat.value }}"/>
</p>


<p>
  <label for="{{ skype.id }}">{{ skype.e }}</label>

  <input class="widefat" id="{{ skype.id }}"
         name="{{ skype.name }}" type="tel"
         value="{{ skype.value }}"/>
</p>
