{% extends "base.twig" %}

{% block content %}
  <section class="l-main p-error">
    <div class="container u-container">
      <img class="p-error__lamp is-first" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
      <img class="p-error__lamp is-second" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
      <div class="p-error__error">
        <span class="p-error__numb">404</span>
        <p>{{ 'К сожалению, у нас такой страницы нет.' | translateString('Not found') }}</p>
        <a href="{{site.url}}" class="u-btn-main"><span>{{ 'Вернуться на главную' | translateString('Not found') }}</span></a>
      </div>
    </div>
{#     <img class="p-error__wall" src="{{ site.theme.link }}/static/images/china-wall.png" alt="">
    <img class="p-error__wall" src="{{ site.theme.link }}/static/images/china-wall.png" alt=""> #}

    <img class="p-error__wall d-xl-block d-none" src="{{ site.theme.link }}/dev/images/china-wall.png" alt="">
    <img class="p-error__wall d-xl-none d-sm-block d-none" src="{{ site.theme.link }}/dev/images/china-wall-2.png" alt="">
    <img class="p-error__wall d-sm-none d-block" src="{{ site.theme.link }}/dev/images/china-wall-3.png" alt="">
  </section>
{% endblock %}
