{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  <section class="p-archive js-blog-archive-wrap">
    <h1 class="p-archive__title">
      {% if (term_page.name) %}
        {{ term_page.name }}
      {% else %}
        {{ 'Testimonials' | translateString('Testimonials page - title') }}
      {% endif %}
    </h1>
    <div class="p-archive__content">
      <img class="p-archive__lamp" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
      <div class="container u-container u-relative">
        <div class="p-single__content">
          <div class="c-arrows d-lg-none d-md-flex d-sm-flex" style="top: 0;">
            <div class="c-arrows__prev js-blog-archive__prev">
              <svg width="9px" height="17px" class="c-arrows__svg">
                <use xlink:href="#arrow-prev"></use>
              </svg>
            </div>
            <div class="c-arrows__next js-blog-archive__next">
              <svg width="9px" height="17px" class="c-arrows__svg">
                <use xlink:href="#arrow-next"></use>
              </svg>
            </div>
          </div>
          <div class="row js-blog-archive">
            {% for post in posts %}
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 l-blog__col">
                {% include 'partial/blog-card.twig' with {'data': post} %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="c-dots-block js-blog-archive__dots d-sm-none d-flex"></div>

        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
      </div>
    </div>
  </section>

{% endblock %}

