{# {% include 'partial/icons.twig' %} #}
<div class="c-footer">
  <div class="container u-container">
    <div class="c-social">
      {# <div class="row"> #}
        {# <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 u-col"> #}
          {{ widget_footer_top }}
        {# </div> #}
      {# </div> #}
      <div class="c-social__item d-flex flex-column align-items-start">
        <span class="c-social__label">开始收到消息</span>
        <form action="" class="c-form" data-url="{{ 635 | localizeLinkById }}">
          <input type="email" placeholder="{{ 'Введите email' | translateString('Newsletter - email placeholder') }}" name="email" required=>
          <button type="submit" class="u-btn-main">
            <img src="{{ site.theme.link }}/dev/images/telega.svg" alt="">
          </button>
          <div class="c-form__warning">{{ 'This mailbox is already signed.' | translateString('Newsletter - error signed') }}</div>
        </form>
      </div>
    </div>
    <div class="c-nav-links">
      <div class="row">
        {% include "footer-menu.twig" with {'menu': footer_menu.get_items} %}
      </div>
    </div>
    <div class="c-footer__doc">
      <div class="row">
        {% include "footer-short-menu.twig" with {'menu': footer_short_menu.get_items} %}
      </div>
      </div>
    </div>
  </div>
  <div class="c-footer__copyright">
    <span>&copy; 2019  Gryshchenko Clinic-IVF. All rights reserved</span>
  </div>

</div>
<script src="//code.jivosite.com/widget.js" jv-id="RTmvYCoeLZ"></script>
