{# <pre>{{ dump(menu) }}</pre> #}
{% if menu %}
    {% for item in menu %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <a href="{{ item.link }}">{{ item.title }}</a>
        </div>
    {% endfor %}
{% endif %}
