<!doctype html>
<!--[if lt IE 9]>
<html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]>
<html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<script src="//code.jivosite.com/widget.js" jv-id="RTmvYCoeLZ" async></script>
<head>
  <meta charset="{{ site.charset }}"/>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow" />
  <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
  <link rel="pingback" href="{{ site.pingback_url }}"/>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/static/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/static/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/static/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/static/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/static/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/static/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/static/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/static/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/static/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.link }}/static/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/static/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.theme.link }}/static/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.theme.link }}/static/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {{ function('wp_head') }}
