{# <pre>{{ dump(menu) }}</pre> #}
{% if menu %}
	<ul class="c-main-nav is-show">
	{% for item in menu %}
		<li class="c-main-nav__item">
			<a target="{{ item.target }}" {# href="{{ item.link }}" #}>
        <span>{{ item.title }}</span>
        <svg width="9px" height="6px" class="c-main-nav__caret">
          <use xlink:href="#icon-caret">
        </svg>
      </a>
      {% if item.children %}
        <div class="c-main-subnav js-list">
          <ul class="c-sub-menu-2 u-sub-menu">
            {% for item2 in item.children %}
              <li class="c-item-2">

              {% if item2.children %}
              <a>
                <span>{{ item2.title }}</span>
                <svg width="9px" height="6px" class="c-main-nav__caret">
                  <use xlink:href="#icon-caret">
                </svg>
              </a>
              {% else %}
              <a target="{{ item2.target }}" href="{{ item2.link }}">
                <span>{{ item2.title }}</span>
              </a>
              {% endif %}

              {% if item2.children %}
                <div class="js-list">
                  <ul class="c-sub-menu-3 u-sub-menu">
                    {% for item3 in item2.children %}
                      <li class="c-item-3">

                      {% if item3.children %}
                      <a>
                        <span>{{ item3.title }}</span>
                        <svg width="9px" height="6px" class="c-main-nav__caret">
                          <use xlink:href="#icon-caret">
                        </svg>
                      </a>
                      {% else %}
                      <a target="{{ item3.target }}" href="{{ item3.link }}">
                        <span>{{ item3.title }}</span>
                      </a>
                      {% endif %}

                        {% if item3.children %}
                          <div class="js-list">
                            <ul class="c-sub-menu-4 u-sub-menu">
                             {% for item4 in item3.children %}
                                <li class="c-item-4">
                                  <a target="{{ item4.target }}" href="{{ item4.link }}">
                                    <span>{{ item4.title }}</span>
                                  </a>
                                </li>
                            {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              {% endif %}

            {% endfor %}
          </ul>
        </div>
      {% endif %}

		</li>
	{% endfor %}
	</ul>
{% endif %}
