{% extends "base.twig" %}

{% block content %}
  {% set cat = '' %}
  {% for category in post.terms('category') %}
    {% if category.slug == 'treatments' %}
      {% set cat = 'is-treatments' %}
    {% endif %}
  {% endfor %}
  <main class="p-page p-single {{ cat }}">
    <h1 class="p-single__catname">
      {{ post.title }}
    </h1>

    <div class="p-single__wrapper">
      <img class="p-single__lamp" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          {% set thumbnail = function('get_the_post_thumbnail_url', data.ID, 'full') %}
          {% if post.meta('preview_in_post') == true %}
            {% if thumbnail %}
              <div class="p-single__thumbnail">
                <img class="is-desktop d-lg-block d-md-none d-sm-none d-none"
                     src="{{ thumbnail | resize(1110, 460) }}"/>
                <img class="is-tablet d-lg-none d-md-block d-sm-block d-none"
                     src="{{ thumbnail | resize(580, 350) }}"/>
                <img class="is-phone d-sm-none d-block"
                     src="{{ thumbnail | resize(340, 250) }}"/>
              </div>
            {% endif %}
          {% endif %}
          <div class="u-flex align-items-center flex-md-nowrap">
            {% for category in post.terms('category') %}
              {% if category.slug == 'news' %}
                <div class="p-single__date d-flex justify-content-center align-items-center">
                  <span class="is-day">{{ post.date|date("d") }}</span>
                  <span class="is-mounth">{{ post.date|date("F") }}</span>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="p-single__content">
            {{ post.content | localizeReviewForm }}
          </div>

        </article>

        {% include 'templates/partial/related.twig' with {'post': post} %}
      </div>
    </div>
  </main>
{% endblock %}
