{% extends "base.twig" %}

{% block content %}
  <main class="l-main p-single p-contact">
    {# <div class="u-wrapper"> #}
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <div class="row align-items-center">
            <div class="p-single__content">
              {% include '/templates/partial/contact-form.twig' %}
            </div>
          </div>
        </article>
      </div>
    {# </div> #}

    <img class="p-contact__wall d-xl-block d-none" src="{{ site.theme.link }}/dev/images/china-wall.png" alt="">
    <img class="p-contact__wall d-xl-none d-sm-block d-none" src="{{ site.theme.link }}/dev/images/china-wall-2.png" alt="">
    <img class="p-contact__wall d-sm-none d-block" src="{{ site.theme.link }}/dev/images/china-wall-3.png" alt="">
  </main>
{% endblock %}
