{% extends "base.twig" %}

{% block content %}

  <div class="p-page l-service">
    {# <div class="container u-container"> #}
      <h1 class="l-service__title">{{post.title}}</h1>
      <div class="l-service__content">
        <img class="l-service__lamp" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
      {% for media_item in post.meta('service_builder') %}
        <div class="l-service__box">
        {% if media_item.acf_fc_layout == 'content' %}
          <div class="container u-container">
            {% include 'templates/partial/post-content.twig' with {'data': media_item} %}
          </div>
        {% elseif media_item.acf_fc_layout == 'content_with_image' %}
          {% include 'templates/partial/post-content-with-image.twig' with {'data': media_item} %}
        {% elseif media_item.acf_fc_layout == 'faq' %}
          <div class="container u-container">
            {% include 'templates/partial/post-faq.twig' with {'data': media_item} %}
          </div>
        {% endif %}
        </div>
      {% endfor %}
    {# </div> #}
    <div class="l-service__form">
      {% include 'partial/contact-form.twig' %}

      <div class="l-service__wall">
        <img src="{{ site.theme.link }}/dev/images/china-wall.png">
      </div>
    </div>
    </div>
  </div>
{% endblock %}
