{% extends "base.twig" %}

{% block content %}

  <main class="l-main p-single p-testimonial">
    <div class="u-wrapper">
      <div class="container u-container">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <div class="p-single__content">
            {{ post.content | localizeReviewForm }}
          </div>
        </article>

      </div>
      <img class="p-testimonial__lamp" src="{{ site.theme.link }}/static/images/treatments-lamp.svg" alt="">
    </div>

    <img class="p-testimonial__wall" src="{{ site.theme.link }}/dev/images/china-wall.png" alt="">
  </main>
{% endblock %}
