{% extends "base.twig" %}

{% block content %}

  {% include 'partial/banners.twig' %}

  {% include 'partial/healing.twig' with {'data': healing} %}

  {% include 'partial/photogallery.twig' with {'data': photogallery} %}

  {% include 'partial/treatments.twig' with {'data': treatments} %}

  {% include 'partial/why-us.twig' with {'data': why_us} %}

  {% include 'partial/blog.twig' with {'data': news} %}

  {% include 'partial/testing.twig' %}

{% endblock %}
