{% extends "base.twig" %}

{% block content %}
  <section class="p-thanks">
    {{post.content}}
    <div class="p-thanks__subscribe">
      <span>
        {{ 'Подпишитесь на нас:' | translateString('Thank page - socials text') }}
      </span>
      <div class="p-thanks__social">
        <a href="{{ weibo }}">
          <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="27.2727" cy="27.2727" r="27.2727" />
            <path d="M34.5454 13.4546C33.9801 13.4546 33.4346 13.5114 32.909 13.6052C32.5142 13.6733 32.25 14.0512 32.3181 14.4461C32.3863 14.8438 32.7642 15.108 33.159 15.0398C33.6193 14.9574 34.0795 14.9091 34.5454 14.9091C38.9715 14.9091 42.5454 18.483 42.5454 22.9091C42.5454 23.8665 42.3693 24.7813 42.0568 25.6392C41.9602 25.8864 42.0028 26.1648 42.1704 26.3694C42.3409 26.5739 42.6051 26.6705 42.8664 26.6222C43.1278 26.5739 43.3409 26.3864 43.4232 26.1364C43.7897 25.1307 44 24.0483 44 22.9091C44 17.6961 39.7585 13.4546 34.5454 13.4546ZM34.5454 17.8182C34.2358 17.8182 33.9431 17.8495 33.6647 17.8978C33.2698 17.9688 33.0028 18.3438 33.0738 18.7415C33.142 19.1364 33.5198 19.4006 33.9147 19.3324C34.1278 19.2955 34.338 19.2728 34.5454 19.2728C36.5625 19.2728 38.1818 20.8921 38.1818 22.9091C38.1818 23.3438 38.1022 23.7586 37.9573 24.1506C37.821 24.5285 38.017 24.9461 38.3948 25.0824C38.7727 25.2188 39.1903 25.0256 39.3267 24.6478C39.5227 24.108 39.6363 23.5228 39.6363 22.9091C39.6363 20.1052 37.3494 17.8182 34.5454 17.8182ZM24.4914 18.1137C22.1562 18.0682 18.6335 19.912 15.4943 22.9915C12.3721 26.1137 10.5454 29.3864 10.5454 32.2046C10.5454 37.6819 17.5483 40.9546 24.4744 40.9546C33.4545 40.9546 39.4659 35.7813 39.4659 31.6705C39.4659 29.1591 37.3352 27.787 35.4318 27.179C34.9772 27.0256 34.6733 26.9517 34.9005 26.341C35.0511 25.9773 35.2727 25.2841 35.2727 24.3637C35.2727 23.3182 34.5454 22.412 33.0909 22.25C32.3693 22.1705 29.4545 22.1819 27.5198 22.9915C27.5198 22.9915 26.4517 23.4517 26.7556 22.6137C27.2897 20.9404 27.213 19.5682 26.375 18.8069C25.9204 18.3495 25.2727 18.1279 24.4914 18.1137ZM23.8636 26.4972C29.5397 26.4972 34.1392 29.3921 34.1392 32.966C34.1392 36.537 29.5397 39.4319 23.8636 39.4319C18.1903 39.4319 13.5909 36.537 13.5909 32.966C13.5909 29.3921 18.1903 26.4972 23.8636 26.4972ZM23.1022 28.0171C20.9062 28.0341 18.7727 29.2358 17.8465 31.0881C16.7045 33.4432 17.7698 36.0313 20.5085 36.8665C23.2471 37.7785 26.517 36.4091 27.659 33.9006C28.7983 31.4688 27.3551 28.8836 24.6164 28.2017C24.1164 28.0711 23.6079 28.0142 23.1022 28.0171ZM24.2358 31.091C24.6562 31.091 24.9971 31.429 24.9971 31.8495C24.9971 32.2699 24.6562 32.6108 24.2358 32.6108C23.8153 32.6108 23.4744 32.2699 23.4744 31.8495C23.4744 31.429 23.8153 31.091 24.2358 31.091ZM21.0312 31.8495C21.2698 31.8523 21.5085 31.8892 21.7329 31.966C22.7073 32.2756 23.0056 33.1989 22.4062 33.9688C21.8835 34.7387 20.6875 35.1222 19.7869 34.7387C18.892 34.3552 18.6676 33.429 19.1903 32.7387C19.5823 32.1591 20.3125 31.841 21.0312 31.8495Z" fill="white" />
          </svg>
        </a>
        <a href="#is-qr" class="js-wechat">
          <svg width="56" height="55" viewBox="0 0 56 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="28" cy="27.2727" r="27.2727"/>
            <g clip-path="url(#clip0)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M42.397 38.6743C44.7061 37.0001 46.1818 34.5258 46.1818 31.7743C46.1818 26.7349 41.2773 22.6486 35.2288 22.6486C29.1803 22.6486 24.2758 26.7349 24.2758 31.7743C24.2758 36.8152 29.1803 40.9016 35.2288 40.9016C36.4788 40.9016 37.6848 40.7243 38.8045 40.4016L39.1258 40.3531C39.3364 40.3531 39.5273 40.4183 39.7076 40.5213L42.1061 41.9061L42.3167 41.9743C42.5182 41.9743 42.6818 41.8107 42.6818 41.6092L42.6227 41.3425L42.1288 39.5016L42.0909 39.2683C42.0909 39.0228 42.2121 38.8061 42.397 38.6743ZM22.9621 12.5713C15.703 12.5713 9.81818 17.4743 9.81818 23.5243C9.81818 26.8243 11.5879 29.7955 14.3591 31.8031C14.5818 31.9607 14.7273 32.2213 14.7273 32.5167L14.6818 32.7955L14.0894 35.0046L14.0182 35.3243C14.0182 35.5667 14.2151 35.7637 14.4561 35.7637L14.7106 35.6819L17.5879 34.0198C17.803 33.8955 18.0318 33.8183 18.2848 33.8183L18.6712 33.8758C20.0136 34.2622 21.4621 34.4773 22.9621 34.4773L23.6833 34.4592C23.3985 33.6046 23.2424 32.7046 23.2424 31.7758C23.2424 26.2592 28.6091 21.7864 35.2288 21.7864L35.9424 21.8046C34.953 16.5728 29.5182 12.5713 22.9621 12.5713ZM31.5773 30.3152C30.7712 30.3152 30.1182 29.6607 30.1182 28.8546C30.1182 28.047 30.7712 27.394 31.5773 27.394C32.3848 27.394 33.0379 28.047 33.0379 28.8546C33.0379 29.6607 32.3848 30.3152 31.5773 30.3152ZM38.8803 30.3152C38.0727 30.3152 37.4197 29.6607 37.4197 28.8546C37.4197 28.047 38.0727 27.394 38.8803 27.394C39.6864 27.394 40.3394 28.047 40.3394 28.8546C40.3394 29.6607 39.6864 30.3152 38.8803 30.3152ZM18.5803 21.7713C17.6121 21.7713 16.8288 20.9864 16.8288 20.0198C16.8288 19.0516 17.6121 18.2667 18.5803 18.2667C19.5485 18.2667 20.3333 19.0516 20.3333 20.0198C20.3333 20.9864 19.5485 21.7713 18.5803 21.7713ZM27.3424 21.7713C26.3742 21.7713 25.5909 20.9864 25.5909 20.0198C25.5909 19.0516 26.3742 18.2667 27.3424 18.2667C28.3106 18.2667 29.0954 19.0516 29.0954 20.0198C29.0954 20.9864 28.3106 21.7713 27.3424 21.7713Z" fill="white"/>
            </g>
          </svg>
        </a>
      </div>
    </div>
    {# {{ widget_fixed }} #}
    <img class="p-thanks__wall" src="{{ site.theme.link }}/dev/images/china-wall.png" alt="">
  </section>
{% endblock %}
