{% extends "base.twig" %}

{% block content %}
  <main class="p-archive">
    <div class="container u-container">
      <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="u-flex align-items-center flex-md-nowrap">
          <h1 class="p-single__title">
            {{ post.title }}
          </h1>
        </div>
        <div class="p-single__content">
          <div class="row c-videos">
            {% for video in post.meta('videos') %}
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 c-videos__video">
                {{ video.iframe }}
              </div>
            {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </main>
{% endblock %}
