<div class="l-banners">
  <style type="text/css">
    @media (min-width: 300px) {
      .l-banners__mobile {
        display: block !important;
      }

      .l-banners__tablet,
      .l-banners__desktop {
        display: none !important;
      }

      #n2-ss-3-arrow-previous {
        left: 47% !important;
      }

      #n2-ss-3-arrow-next {
        right: 47% !important;
      }
    }

    @media (min-width: 640px) {
      .l-banners__tablet {
        display: block !important;
      }

      .l-banners__desktop,
      .l-banners__mobile {
        display: none !important;
      }
    }

    @media (min-width: 1200px) {
      .l-banners__desktop {
        display: block !important;
      }

      .l-banners__tablet,
      .l-banners__mobile {
        display: none !important;
      }
    }
  </style>
  <div class="l-banners__desktop" style="display: none;">
    {{ function('do_shortcode' , '[smartslider3 slider=3]') }}
  </div>
  <div class="l-banners__tablet" style="display: none;">
    {{ function('do_shortcode' , '[smartslider3 slider=4]') }}
  </div>
  <div class="l-banners__mobile" style="display: none;">
    {{ function('do_shortcode' , '[smartslider3 slider=5]') }}
  </div>
</div>
