<div class="c-blog-card">
  {% set thumb = function('get_the_post_thumbnail_url', data.ID, 'full') | resize(350, 350) %}
  {% if thumb %}
  <div class="c-blog-card__photo">
    <img src="{{ thumb }}" alt="">
  </div>
  {% endif %}
  <div class="c-blog-card__content">
    <div class="c-blog-card__title">
      <h3>{{ data.post_title|truncate(8) }}</h3>
    </div>
    <div class="c-blog-card__text">
      {% if data.post_excerpt %}
        <p>{{ data.post_excerpt|convertYotubeLinkToIframe|truncate(40)|striptags|truncate(15) }}</p>
      {% else %}
        <p>{{ data.post_content|convertYotubeLinkToIframe|truncate(40)|striptags|truncate(15) }}</p>
      {% endif %}
    </div>
    <a href="{{ data.ID | localizeLinkById }}" class="u-btn-main">
      <span>{{ 'Read more' | translateString('Home blog screen - card button') }}</span>
    </a>
  </div>
</div>
