<div class="p-single__box">
  <div class="p-single__newimg"
       style="background-image: url('{{ function('get_the_post_thumbnail_url', data.ID, 'full') | resize(340, 230) }}');"></div>
  <div class="p-single__boxtext">
    <h3>{{ data.post_title|striptags|truncate(12) }}</h3>
    <a href="{{ data.ID | localizeLinkById }}" class="u-btn-main"><span>{{ 'Read more' | translateString('Home blog screen - card button') }}</span></a>
  </div>
</div>
