{% if data | length > 0 %}
<section class="l-blog js-blog-wrap">
  <div class="container u-container u-relative">
    <h2 class="u-secondary-heading">{{ 'Полезная информация' | translateString('Home blog screen - title') }}</h2>
    <div class="c-arrows">
      <div class="c-arrows__prev js-blog__prev">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-prev"></use>
        </svg>
      </div>
      <div class="c-arrows__next js-blog__next">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-next"></use>
        </svg>
      </div>
    </div>
    <div class="row l-blog__margin js-blog js-slider">
      {% for item in data %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 l-blog__col">
          {% include 'partial/blog-card.twig' with {'data': item} %}
        </div>
      {% endfor %}
    </div>
    {# <div class="c-dots-block js-blog__dots d-sm-none d-flex"></div> #}
    <a href="{{ 42 | localizeCategoryLinkById }}" class="u-btn">
      <span>{{ 'Читать все' | translateString('Home blog screen - all button') }}</span>
    </a>

  </div>
  <div class="l-blog__lamp">
    <img src="{{ site.theme.link }}/dev/images/blog-lamp.svg" alt="">
  </div>
</section>
{% endif %}
