{% set align = '' %}
{% if data.alignment == 'left' %}{% set align = ' alignleft' %}{% endif %}
{% if data.alignment == 'center' %}{% set align = ' aligncenter' %}{% endif %}
{% if data.alignment == 'right' %}{% set align = ' alignright' %}{% endif %}
<div class="c-graph{{ align }}">
  <div class="c-graph__progress" style="height: {{ data.percent }}"></div>
  <div class="c-graph__icons" style="height: {{ 100 - data.percent | number_format }}%">
    {% for icon_type in data.icons %}
      {% if icon_type == 'child' %}
        <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="369 326 368 368">
          <path fill="#69bab2" fill-rule="evenodd" d="M370.1 509.4c0 41.2 14.7 81.3 39.8 113.2l16 17.9 18.5 15.4c10.6 7.2 20.7 14.3 32.9 19.2 46.8 19.2 93.1 23 141.2 3.7 17.2-6.9 39.7-19.5 53.5-32.4 12.7-11.7 13.7-12.7 24.8-26.5l7-9.6a181.8 181.8 0 0 0-3.9-207.4l-19.6-23.1-13.8-12.2c-40-34-102.3-48.5-154.4-35.7A178.3 178.3 0 0 0 430 375c-6 5.5-11.3 10.2-16.7 17.2l-10 13a183 183 0 0 0-33 104m183.7-55.2c0 16.7 8.4 29.7 24.5 32.3 4.6.8 4.7 1 4.7 4.8 0 9.9-18 7.8-28.2-2.5-14.9-15.3-11.4-33.7-23.2-37.6-8.2-2.8-16.4 3.3-16.4 13.3 0 5.4 3.8 15.5 5.4 19.8 6.2 17.3 22 33.7 39.5 37.8 0 5.2-1.4 8.8-8 7.3a60 60 0 0 1-31.1-20.2c-7.7-9.5-9-19.8-21.5-29-21.5-15.6-46.8 10.3-52 10.3-2 0-1-.3-3.2-.8-2-8 1.5-6.2 9.6-14.8 12-12.6 21.9-26.2 21.9-46 0-15-9.9-38.2 26.1-51.1a143 143 0 0 1 23.2-6.7c21.2-4.3 38.3-3.5 59 .9a142.4 142.4 0 0 1 109.4 137.5c0 77.6-63.6 141.2-141.2 141.2-109.8 0-172.8-118.2-125.2-206.4 1.5-2.9 3.2-5.8 5-8.5 9-14 20.8-4 20.8 2.7 0 4.8-2.5 8.1-4.6 11.2a21.1 21.1 0 0 1-3.5 4.4c-1.8 1.8-2 2.5-3.6 4.3-2.7 3-5.3 4.4-8.3 7.5-21.2 22.3-3.5 45.1 14.5 45.1 17.2 0 20.1-13.4 36.2-13.4 13.6 0 16.2 32 40.2 42.7 1.5.7 7.2 2.7 7.2 4.7 0 12.1-15.3 2.3-22.1 2.3-12.4 0-20.2 1.6-28.1 12.2a43.8 43.8 0 0 0-6.2 11.2c-5.9 15-7.6 8.2-14.6 8.2a8.7 8.7 0 0 0-8.7 8.7c0 11.5 33 21.5 44.3 7.2 5.5-6.9 5-16.4 17.4-8.2a56.2 56.2 0 0 0 6.1 3.3 68 68 0 0 0 73.5-7c37.4-27.4 32.3-63.6 38.3-77.6 10.5-24.8 31.8-18 31.8-50.3 0-12-10.4-25.2-17.8-30.3a64.7 64.7 0 0 0-36-12.9c-3.3-.2-17.3.9-21.9 2.2a45.9 45.9 0 0 0-33.1 40.2" class="cls-4"/>
        </svg>
      {% elseif icon_type == 'snowflake' %}
        <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="382 330 360 360">
          <style>
            .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#69bab2}
          </style>
          <path d="M384.2 509.6c0 40 14.3 79 38.7 110l15.6 17.4 17.9 15c10.3 7 20.1 13.8 32 18.6 45.4 18.6 90.4 22.3 137 3.6 16.8-6.7 38.6-19 52-31.5 12.4-11.4 13.4-12.3 24.1-25.7l6.8-9.4a177.1 177.1 0 0 0 28.5-118c-5.4-36.7-13-53.8-32.3-83.4l-19-22.4-13.4-11.9a177.4 177.4 0 0 0-150-34.7 173.1 173.1 0 0 0-79.8 42c-5.8 5.4-11 10-16.3 16.7l-9.6 12.6a177.6 177.6 0 0 0-32.2 101.1m110-117.5c4-3.9 9.8-7.4 18-10.4 7.8-2.8 13.5-4.7 22.6-6.5 20.6-4.1 37.2-3.4 57.3.9a138.3 138.3 0 0 1 106.3 133.5c0 75.4-61.8 137.1-137.2 137.1-106.6 0-167.8-114.8-121.6-200.5l4.8-8.2c1.9-2.8 3.9-4.7 5.8-5.7a135.8 135.8 0 0 1 44-40.2" class="st1"/>
          <path d="M560.7 642.4h.8c2.5-2.8 7.7-4.9 10-7.4 1.4-4.3-.3-27.7.4-34.8 1.7 0 11.6 6.5 13.8 7.8 2.9 1.7 4 3.6 7 2 2.2-1 5.1-2.5 7-3.7.6-2.7.2-9.9.2-13.1-.4-1.3-24.6-14.4-28-16.7v-22.7c2.7 0 17.3 10 22 11.7l.1-22.1c1.2.1 20.1 10.3 22.2 11.6v33.6c2.7 1.4 5.4 3.9 8.5 5.5 2.8-1.3 5.5-4.3 8.1-5.5l.1-22c2.4.5 17.8 9.5 21.6 11.6 6.6 3.7 7.3 5.4 11 3.7 3.5-1.4 8.5-3.1 11.6-5v-13.2l-14.4-8.9c-1.9-1.2-13-7.3-14.3-9l17.8-10.2v-12c-3.3-1.9-6.7-4.4-10.1-6.2-3.1 1.2-20.3 10.9-25 13.5-2.5 1.2-3.8 3-6.4 1.7-5.4-2.6-14.5-8-18.8-9.5.6-1.5.9-1.4 2.5-2.2l7.2-4.2c2.2-1.2 7.7-4.1 9.8-5.8-.4-1-7.8-5.4-9.2-6.3l-8.5-5.4c-.8-.7-.4-.2-.8-1l19.5-12.7 19.7 11.3c1.3.8 9 5.5 10 5.5.8 0 8.6-4.2 10.2-5l-.2-12.6c-2.6-1.2-17.6-9.2-18.8-10.6 1.7-2 26.3-14.8 29.8-17.4V444l-10.8-6.5c-2-.9-4.2 1-5.9 2-5.9 3-23.6 12.9-27.5 14.4l-.1-23.1c-1.7-.7-7.7-4.5-8.5-4.5-1 0-6.8 3.8-8 4.5l-.2 36c-1.2 1.1-21 11.2-22.1 11.3v-24.2c-4.3 1.5-19.6 11.6-22.2 11.6V443c4.8-3 11.7-5.8 16.7-8.4 3.8-2 13.5-7.4 16.8-8.3l-.2-11.5c-2.5-1.8-5.6-3-8-4.5-4.4-2.6-4.4-1.6-8.5.6l-8.3 4.4c-1.6.9-6.8 4-8.5 4v-34.8c-2.7-1.9-8.2-5-10.3-7.4h-.8a59 59 0 0 1-10.3 7.4l-.1 34.7c-2.4 0-14.8-9-18.9-10.6-2.6 1-6.5 4.2-9 5.5v12.6c1.8 1.3 4.9 3 7 4.1l21 12.1v22.7c-2.7 0-18-9.7-22.2-11.1v23.7c-.9-.2-19.2-10.6-20.5-11.7l.5-34c-1.2-.4-4-2.2-5.4-3-1.7-1-3.6-2.5-5.3-3.2-2.2 1-5.7 4.8-8.2 6.2v22c-1.9-.5-19-10.3-21.8-11.8-4.2-2.4-8.6-5.7-11.4-4.4-2.7 1.3-9 3.8-11 5.3v13.6c1.3 1.3 12.6 7.1 15.1 8.4 2.5 1.3 14 7.3 15.2 8.6-1.6 1.9-19 10-19.5 11.8v12c12.7 5.2 9 6.4 15.6 2.8l14.5-8.5c11.6-7.3 9.6-5.9 15-2.9 4.4 2.6 10.5 5.7 14.4 8.3l-.7.8-18.5 11.7c1.2 1.4 8.2 5 10.3 6.2 1.7 1 8.9 5 9.8 6-2.2 1.7-5.2 3.2-7.6 4.6-11.2 6.5-10.2 8-15 5.2l-22.3-13.3c-5.5-3.3-3.4-1.9-15.5 4.3v13l20 9.6c-1 1.5-13 7.8-15.4 9.2l-15.4 8.8v13.7c1.8 1 9.6 4.3 12 5 2.6.8 7.4-2.7 11.2-4.8l10.6-6c3.6-2 7.4-3.8 10.4-5.7v21.3c.6 1.6 6.6 6 7.8 6.4l4.7-3.3c1.3-1 3.5-2.1 4.2-3.5v-32.6c1.6-1.5 20.5-11.2 22.2-11.3l.1 23.6c4.8-1.6 19-12.6 22-12.7v22.7c-6.7 4.4-22.7 12.6-28 16.2v12.6c11 5.6 6.5 7.3 13.9 2.8 2.2-1.4 4.7-2.8 7.2-4.2 1.8-1.2 5-3.7 7-3.7v34.7c2.3 1.2 9 6 10.3 7.5m-6.4-116c-3 0-3.8-3.2-6.6-7.6-.8-1.2-5-7.6-5.1-8.4-.2-1.1 8-15.7 9.6-17.4h17.4c2.7 0 2.6 1.3 3.6 3.3l6.6 12.5c1.4 3.3-5.9 12-7.6 17.5h-17.9z" class="st1"/>
        </svg>
      {% endif %}
    {% endfor %}
  </div>
  <div class="c-graph__percent">
    {{ data.percent }}
  </div>
</div>
