<section class="l-healing js-healing-wrap">
  <div class="container u-container">
    <h2 class="u-secondary-heading">
      {{ data.title }}
    </h2>
    <div class="row l-healing__row js-healing">
      {% for item in data.items %}
        <div class=" l-healing__col">
          {% if (item.link) %}
            {% set link = item.link %}
          {% elseif (item.category) %}
            {% set link = function('get_category_link', item.category.term_id) %}
          {% else %}
            {% set link = 'javascript:' %}
          {% endif %}
          <a href="{{ link }}">
            <img src="{{ item.image.url }}" alt="">
            <p>{{ item.text }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="c-dots-block js-healing__dots"></div>
  </div>
  <div class="l-healing__dragon">
    <img src="{{ site.theme.link }}/dev/images/dragon.png" alt="">
  </div>
</section>
