<section class="l-main js-main-wrap">
  <div class="u-wrapper">

    <div class="l-main__stars">
      <div class="l-main__info js-main">
        {% for item in data %}
            <div class="l-main__slide">
              <div class="l-main__content">
                <h2 class="u-secondary-heading">{{ item.title }}</h2>
                <h3 class="u-subtitle">{{ item.subtitle }}</h3>
                <p>{{ item.text }}</p>
              </div>
              <div class="l-main__img">
                <img src="{{ data[0].picture.url }}" alt="Children">
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="l-main__svg">
        <svg width="100px" height="100px" class="is-star-empty">
          <use xlink:href="#star-empty"></use>
        </svg>
        <svg width="100px" height="100px" class="is-star-full">
          <use xlink:href="#star-full"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
