<div class="l-modal-container">
{#   <svg width="20px" height="20px" class="l-modal-container__close">
    <use xlink:href="#close">
  </svg> #}
  <div id="mobile" class="c-modal">

    <div class="c-modal__menu">
      <a href="{{ 254 | localizeLinkById }}" class="u-btn">
        <span>{{ 'Связаться с нами' | translateString('Mobile menu - button') }}</span>
      </a>
      <nav class="menu">
        {% include "menu.twig" with {'menu': menu.get_items} %}
      </nav>

       <div class="c-social is-centered">
        <div class="row align-items-center">
          {{ widget_fixed }}
        </div>
      </div>
    </div>
  </div>
</div>
