<section class="l-photogallery js-photogallery-slider-wrap text-align-center">
  <div class="container u-container">
    <h2 class="u-secondary-heading">{{ data.title }}</h2>
    <a href="{{ 248 | localizeLinkById }}" class="l-photogallery__text">{{ data.text }}</a>
  </div>
  <div class="l-photogallery__gallery">
    <div class="l-photogallery__gallery-row js-photogallery-slider js-slider">
      {% for item in data.img_list %}
      <div class="l-photogallery__slide">
        <img src="{{ item.image.url }}" alt="">
      </div>
      {% endfor %}
    </div>
    <span class="l-photogallery__gallery-prev js-photogallery-slider__prev">
      <img src="{{ site.theme.link }}/dev/images/arrow-point-to-right.svg" alt="">
    </span>
    <span class="l-photogallery__gallery-next js-photogallery-slider__next">
      <img src="{{ site.theme.link }}/dev/images/arrow-point-to-right.svg" alt="">
    </span>
  </div>
  <a href="{{ 124 | localizeLinkById }}" class="u-btn-main">
    <span>{{ function('get_the_title', 124) }}</span>
  </a>
</section>
