<div class="c-post-faq">
  <h2 class="c-post-faq__title">{{ data.title }}</h2>
  <div class="c-post-faq__content">
    {% for question in data.questions %}
      <div class="c-post-faq__item">
        <div class="c-post-faq__heading" style="color: {{ data.title_color }}">{{ question.question }}</div>
        <div class="c-post-faq__text">{{ question.answer }}</div>
      </div>
    {% endfor %}
  </div>
</div>
