<section class="l-testing">
  <div class="container u-container">
    <div class="l-testing__row row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-12">
        <img class="l-testing__children" src="{{ site.theme.link }}/dev/images/testing-section.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6 col-12">
        <div class="l-testing__content">
          <h2 class="u-secondary-heading">{{ 'Название текста' | translateString('Testing - title') }}</h2>
          <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' | translateString('Testing - text') }}</p>
          <a href="#" class="u-btn-main">{{ 'Пройти тест' | translateString('Testing - button') }}</a>
        </div>
      </div>
    </div>
  </div>

  <img class="l-testing__wall d-xl-block d-none" src="{{ site.theme.link }}/dev/images/china-wall.png" alt="">
  <img class="l-testing__wall d-xl-none d-sm-block d-none" src="{{ site.theme.link }}/dev/images/china-wall-2.png" alt="">
  <img class="l-testing__wall d-sm-none d-block" src="{{ site.theme.link }}/dev/images/china-wall-3.png" alt="">
</section>
