<section class="l-treat js-treatments-wrap">
  <div class="l-treat__lamp">
    <img class="" src="{{ site.theme.link }}/dev/images/treatments-lamp.svg">
  </div>
  <div class="container u-container u-relative">
    <h2 class="u-secondary-heading">{{ data.title }}</h2>
    <p class="l-treat__text">{{ data.text }}</p>
    <div class="u-relative">
      <div class="l-treat__bg"></div>
      <div class="row justify-content-center js-treatments l-treat__row ">

        {% for item in data.items %}
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 l-treat__col">
          {% include 'partial/treat-card.twig' with {'data': item} %}
        </div>
        {% endfor %}
      </div>
    </div>
{#     <div class="c-arrows d-lg-none d-sm-flex d-none">
      <div class="c-arrows__prev js-treatments__prev">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-prev"></use>
        </svg>
      </div>
      <div class="c-arrows__next js-treatments__next">
        <svg width="9px" height="17px" class="c-arrows__svg">
          <use xlink:href="#arrow-next"></use>
        </svg>
      </div>
    </div> #}
    <div class="c-dots-block js-treatments__dots d-sm-none d-flex"></div>
  </div>
</section>
