<div class="c-treat-card d-flex flex-column align-items-center">
  <div class="c-treat-card__icon">
    <img src="{{ data.items_image }}" alt="">
  </div>
  <div class="c-treat-card__text">
    <p>{{ data.items_block }}</p>
  </div>
</div>
