<section class="l-why-us js-why-us-wrap">
  <div class="l-why-us__top">
    <div class="container u-container">
      <h2 class="u-secondary-heading">{{ data.title }}</h2>
      <div class="row l-why-us__row js-why-us">
        {% for item in data.items %}
          <div class=" l-why-us__col">
            {% if (item.link) %}
              {% set link = item.link %}
            {% elseif (item.category) %}
              {% set link = function('get_category_link', item.category.term_id) %}
            {% else %}
              {% set link = 'javascript:' %}
            {% endif %}
            <a href="{{ link }}">
              <img src="{{ item.picture.url }}" alt="">
              <p>{{ item.text }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="c-dots-block js-why-us__dots"></div>
    </div>
  </div>
  <div class="l-why-us__bottom">
    <div class="container u-container">
      <div class="row l-why-us__row">
        {% for item2 in data.static %}

          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 l-why-us__bottom-col">
            <div class="l-why-us__bottom-title">{{ item2.number }}</div>
            <div class="l-why-us__bottom-text">{{ item2.label }}</div>
          </div>
        {% endfor %}

{#         <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 l-why-us__bottom-col">
          <div class="l-why-us__bottom-title">30+</div>
          <div class="l-why-us__bottom-text">лет профессионального опыта</div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 l-why-us__bottom-col">
          <div class="l-why-us__bottom-title">45+</div>
          <div class="l-why-us__bottom-text">сертифицированных специалистов</div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 l-why-us__bottom-col">
          <div class="l-why-us__bottom-title">59,3%</div>
          <div class="l-why-us__bottom-text">частота клинической беременности</div>
        </div> #}
      </div>
    </div>
  </div>
</section>
